
<style>
	.button-block-item:not(:last-child)::after {
		content: ", ";
	}
	.disabled-quickreply:after {
		background-color: #ddd;
		opacity: .95;
		z-index: 1;
		width: 110%;
		height: 100%;
		position: absolute;
		left: -5%;
		top: 0;
		display: flex;
    justify-content: center;
    align-items: center;
		content: "Quick reply is only available only under 'text, video, audio, image, file, and carousel'";
	}
	.horizontal-drag {
		position: absolute;
    top: 25px;
    left: 0;
    font-size: 35px;
		display: none;
		color: #bbb;
		width: 100%;
	}
	.horizontal-drag:hover {
		color: #333;
	}
	.horizontal-drag {
		display: block;
	}
	.button-block-item:not(:last-child)::after {
		content: ", ";
	}
	.toggle-q {
    width: 60px;
    height: 30px;
    background: #d3d3d3;
    border-radius: 15px;
    border: 1px solid #b2b2b2;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    cursor: pointer;
    transition: all .2s linear;
	}
	.toggle-q.-on {
		background: #45C194;
	}
	.toggle-q.-off::after {
    content: "";
    display: block;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    left: 1px;
    box-shadow: 0px 1px 0px #ccc;
    top: 1px;
	}
	.toggle-q.-off::before {
    content: "Off";
    position: absolute;
    top: 6px;
    right: 6px;
    font-size: 12px;
    text-transform: uppercase;
    color: #ffffff;
	}
	.toggle-q.-on::before {
    content: "";
    display: block;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    right: 1px;
    box-shadow: 0px 1px 0px #ccc;
    top: 1px;
	}
	.toggle-q.-on::after {
    content: "On";
    position: absolute;
    top: 6px;
    left: 6px;
    font-size: 12px;
    text-transform: uppercase;
    color: #ffffff;
	}
	.button-text-overflow {
		white-space: nowrap;
		width: 19em;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	.quickreply-card .delete {
		display: none;
	}
	.quickreply-card:hover .delete {
		display: block;
	}
</style>
<div ng-if="node.nodeResponse.type == 'button'"
	ng-class="{'disabled-quickreply':
					(vm.nodes | toArray)[$index-1].node_type === 'input' ||
					(vm.nodes | toArray)[$index-1].nodeResponse.type !== 'text' &&
					(vm.nodes | toArray)[$index-1].nodeResponse.type !== 'video' &&
					(vm.nodes | toArray)[$index-1].nodeResponse.type !== 'audio' &&
					(vm.nodes | toArray)[$index-1].nodeResponse.type !== 'image' &&
					(vm.nodes | toArray)[$index-1].nodeResponse.type !== 'file' &&
					(vm.nodes | toArray)[$index-1].nodeResponse.type !== 'carousel'}"
	style="display: flex;
				position: relative;
				padding: 10px 0 20px 0;
				border-top: 1px dashed #d8d8d8;
				border-bottom: 1px dashed #d8d8d8;"
	class="quickreply-card">
	<div id="delete-card" class="delete" ng-click="vm.deleteNode(node, $index)"
			style="position: absolute;
						top: -20px;
						right: 0;
						color: #aaa;
						z-index: 10;
						background-color: #fff;
						width: 35px;
						text-align: center;
						height: 35px;
						line-height: 1.8;
						font-size: 20px;
						border-radius: 50%;
						box-shadow: 0px 0px 4px rgba(0,0,0,.4);">
		<i class="ion-trash-b"></i>
	</div>
	<div class="quickreply" style="width: 100%;">
		<div class="replies" ui-sortable="vm.sortableQuickReply" ng-model="node.nodeResponse.response">
			<div class="reply-item sortable-quickreply position-relative" ng-repeat="reply in node.nodeResponse.response" style="margin-bottom: 20px; display: inline-block; max-width: 220px;" ng-click="vm.showEditReply(node,$index)">
				<div class="delete -s" ng-click="vm.deleteReply(node, $index)">
					<i class="ion-trash-b"></i>
				</div>
				<div class="display-flex" style="justify-content: center; flex-direction: column; height: 40px; padding: 0 20px; min-width: 200px;">
					<div class="c-primary" style="margin-bottom:-5px; position: relative;">
						{{reply.title}}
					</div>
					<div class="button-block-link fontSize-xxs display-inline" style="text-overflow: ellipsis; overflow: hidden;">
						<span class="button-block-item" ng-repeat="block in reply.blocks">
							<span class="bg-grey">{{vm.bot.blocks['block' + block.block_id].block_name}}</span>
						</span>
					</div>
				</div>
				<!-- Edit Button -->
				<div ng-show="node.panel.edit && node.panel.index === $index" class="animated zoomIn panel-add-button bg-white position-absolute textAlign-center"
				style="margin-top: -40px;
								border: 1px solid #dddddd;
								border-radius: 5px;
								width: 140%;
								z-index: 10;
								min-width: 200px;
								left: 0;
								top: 75px;">
					<div class="padding-s borderBottomWidth-1 borderStyle-solid borderColor-grey">
						<input
							ng-model="node.nodeResponse.response[node.panel.index].title"
							class="textAlign-center bg-foreground paddingLeftRight-s paddingTopBottom-xs borderWidth-1 borderStyle-solid borderColor-grey borderRadius-xs"
							type="text"
							placeholder="Enter button name"
							maxlength="20">
					</div>
					<div class="padding-s textAlign-left" style="white-space: normal;">
						<ul class="node_type">
							<li class="display-inline-block link marginRight-xs" ng-class="{'link-primary': node.nodeResponse.response[node.panel.index].type == 'show_block', 'link-grey': node.nodeResponse.response[node.panel.index].type != 'show_block'}" ng-click="node.nodeResponse.response[node.panel.index].type = 'show_block'">Block</li>
						</ul>
						<div ng-show="node.nodeResponse.response[node.panel.index].type == 'show_block'">
							<ul class="action-list marginBottom-s marginTop-s">
								<li class="action-item position-relative marginRight-xs display-inline-block bg-grey-l cursor-pointer marginBottom-s borderRadius-xs padding-xs borderStyle-solid borderColor-grey borderWidth-1"
										ng-repeat="block in node.nodeResponse.response[node.panel.index].blocks">
										<div class="delete-item" ng-click="node.nodeResponse.response[node.panel.index].blocks.splice($index,1);">
											<i class="ion-trash-b"></i>
										</div>
										{{ block.block_name }}
								</li>
							</ul>
						</div>
						<div class="textAlign-center">
							<input ng-keyup="vm.tempNode.showSuggest = true" ng-model="vm.tempNode.button.filter" class="width-100 marginTop-s bg-foreground paddingLeftRight-s paddingTopBottom-xs borderWidth-1 borderStyle-solid borderColor-grey borderRadius-xs" type="text" placeholder="Enter name">
							<ul ng-show="vm.tempNode.showSuggest && node.nodeResponse.response[node.panel.index].type == 'show_block'" class="textAlign-left position-absoltue bg-white width-100 suggest-blocks borderTopWidth-1 borderLeftWidth-1 borderRightWidth-1 borderStyle-solid boxShadow-card padding-s" style="border-color: #d8d8d8">
								<div class="fontSize-xxs fontWeight-5 padding-xs marginBottom-s ">
										<li class="cursor-pointer" ng-click="vm.tempNode.showSuggest = false;vm.tempNode.button.filter = ''" style="text-align: right">X</li>
								</div>
								<div class="fontSize-xxs fontWeight-5 padding-xs marginBottom-s">
									Buildin Blocks
									<li ng-click="node.nodeResponse.response[node.panel.index].blocks.push({block_id: block.block_id, block_name: block.block_name});vm.tempNode.showSuggest = false;vm.tempNode.button.filter = ''"
										ng-repeat="block in vm.filterButton(vm.bot.blocks, vm.tempNode.button.filter)"
										ng-if="block.block_id === '0' || block.block_id === '1'"
										class="fontSize-s fontWeight-3 bg-white padding-xs cursor-pointer bg-grey--hover">
										{{block.block_name}}
									</li>
								</div>
								<div class="fontSize-xxs fontWeight-5 padding-xs">
									Blocks
									<li ng-click="node.nodeResponse.response[node.panel.index].blocks.push({block_id: block.block_id, block_name: block.block_name});vm.tempNode.showSuggest = false;vm.tempNode.button.filter = ''"
										ng-repeat="block in vm.filterButton(vm.bot.blocks, vm.tempNode.button.filter)"
										ng-if="block.block_id !== '0' && block.block_id !== '1'"
										class="fontSize-s fontWeight-3 bg-white padding-xs cursor-pointer bg-grey--hover" >
										{{block.block_name}}
									</li>
								</div>
							</ul>
						</div>
						<div class="textAlign-right marginTop-s">
							<!--<div ng-click="vm.closePanel(node)" class="button button-grey display-inline-block borderRadius-xs marginRight-xs" style="width: 80px; padding: 5px 10px;">
								Cancel
							</div>-->
							<div ng-click="vm.editReply(node)" class="button button-primary display-inline-block borderRadius-xs" style="width: 80px; padding: 5px 10px;">
								Edit
							</div>
						</div>
					</div>
				</div>

				<!--End Edit Button -->
				<div class="horizontal-drag">
					<i class="ion-android-more-horizontal"></i>
				</div>
			</div>
			<div ng-show="node.nodeResponse.response.length < 11 || !node.nodeResponse.response" class="reply-item -add" style="display: inline-block;">
				<div ng-click="blocks = [];vm.showPanel(node); vm.tempNode.button.filter = '';vm.tempNode.button.title = ''" class="display-flex paddingLeftRight-xm" style="justify-content: center; align-items: center; height: 40px; padding: 0 20px;">
					<div class="marginRight-s" style="color:#c1c1c1;">
						<i class="ion-plus-round"></i>
					</div>
					<div>
						Add Quick Reply
					</div>
				</div>
				<!--Set Button -->
				<div ng-show="node.panel.show" class="animated zoomIn panel-add-button bg-white position-absolute textAlign-center"
				style="border: 1px solid #dddddd;
								border-radius: 5px;
								width: 140%;
								z-index: 10;
								min-width: 200px;
								left: 0;">
					<div class="padding-s borderBottomWidth-1 borderStyle-solid borderColor-grey">
						<input ng-model="vm.tempNode.button.title" class="textAlign-center bg-foreground paddingLeftRight-s paddingTopBottom-xs borderWidth-1 borderStyle-solid borderColor-grey borderRadius-xs" type="text" placeholder="Enter button name" maxlength="20">
					</div>
					<div class="padding-s textAlign-left" style="white-space: normal;">
						<ul class="node_type">
							<li class="display-inline-block link marginRight-xs" ng-class="{'link-primary': node.panel.type == 'show_block', 'link-grey': node.panel.type != 'show_block'}" ng-click="node.panel.type = 'show_block'">Block</li>
						</ul>
						<div ng-show="node.panel.type == 'show_block'">
							<ul class="action-list marginBottom-s marginTop-s">
								<li class="action-item position-relative marginRight-xs display-inline-block bg-grey-l cursor-pointer marginBottom-s borderRadius-xs padding-xs borderStyle-solid borderColor-grey borderWidth-1"
										ng-repeat="block in blocks">
										<div class="delete-item" ng-click="blocks.splice($index,1); vm.saveNode(node)">
											<i class="ion-trash-b"></i>
										</div>
										{{ block.block_name }}
								</li>
							</ul>
						</div>
						<div class="textAlign-center">
							<input ng-keyup="vm.tempNode.showSuggest = true" ng-model="vm.tempNode.button.filter" class="width-100 marginTop-s bg-foreground paddingLeftRight-s paddingTopBottom-xs borderWidth-1 borderStyle-solid borderColor-grey borderRadius-xs" type="text" placeholder="Enter name">
							<ul ng-show="vm.tempNode.showSuggest && node.panel.type == 'show_block'" class="textAlign-left position-absoltue bg-white width-100 suggest-blocks borderTopWidth-1 borderLeftWidth-1 borderRightWidth-1 borderStyle-solid boxShadow-card padding-s" style="border-color: #d8d8d8">
								<div class="fontSize-xxs fontWeight-5 padding-xs marginBottom-s ">
										<li class="cursor-pointer" ng-click="vm.tempNode.showSuggest = false;vm.tempNode.button.filter = ''" style="text-align: right">X</li>
								</div>
								<div class="fontSize-xxs fontWeight-5 padding-xs marginBottom-s">
									Buildin Blocks
									<li ng-click="blocks.push({block_id: block.block_id, block_name: block.block_name});vm.tempNode.showSuggest = false;vm.tempNode.button.filter = ''"
										ng-repeat="block in vm.filterButton(vm.bot.blocks, vm.tempNode.button.filter)"
										ng-if="block.block_id === '0' || block.block_id === '1'"
										class="fontSize-s fontWeight-3 bg-white padding-xs cursor-pointer bg-grey--hover">
										{{block.block_name}}
									</li>
								</div>
								<div class="fontSize-xxs fontWeight-5 padding-xs">
									Blocks
									<li ng-click="blocks.push({block_id: block.block_id, block_name: block.block_name});vm.tempNode.showSuggest = false;vm.tempNode.button.filter = ''"
										ng-repeat="block in vm.filterButton(vm.bot.blocks, vm.tempNode.button.filter)"
										ng-if="block.block_id !== '0' && block.block_id !== '1'"
										class="fontSize-s fontWeight-3 bg-white padding-xs cursor-pointer bg-grey--hover" >
										{{block.block_name}}
									</li>
								</div>
							</ul>
						</div>
						<div class="textAlign-right marginTop-s">
							<div ng-click="vm.closePanel(node)" class="button button-grey display-inline-block borderRadius-xs marginRight-xs" style="width: 80px; padding: 5px 10px;">
								Cancel
							</div>
							<div ng-click="vm.addReply(node, blocks, vm.tempNode.button)" class="button button-primary display-inline-block borderRadius-xs" style="width: 80px; padding: 5px 10px;">
								Save
							</div>
						</div>
					</div>
				</div>
				<!--End Set Button-->
			</div>
			<div class="floatLeft" style = "margin-top: 15px;">
				<div class="display-inline-block">
					Save to:
				</div>
				<div ng-show="!node.attr_name" style="border: 1px solid #ddd; color: #555;" ng-click="node.showUserAttr = true" class="button button-grey display-inline-block borderRadius-xs marginRight-xs">
					{..} User Attributes
				</div>
				<div ng-show="node.attr_name" class="user-attr position-relative display-inline-block">
					<div class="delete boxShadow-card" ng-click="node.attr_name = undefinded; vm.saveNode(node);"
							style="position: absolute;
									top: -10px;
									right: -15px;
									font-size: 18px;
									color: #aaa;
									z-index: 10;">
						<i class="ion-trash-b"></i>
					</div>
					<div ng-show="node.attr_name" ng-click="node.showUserAttr = true" class=" position-relative button bg-white borderColor-grey display-inline-block borderRadius-xs marginRight-xs">
						{{node.attr_name}}
					</div>
				</div>
				<div class="display-inline-block">
					<div
						ng-class="{'-on': node.use_ai, '-off': !node.use_ai}"
						ng-click="vm.toggleAI(node);"
						class="toggle-q">
					</div>
					<div style="color: #555;" class="marginLeft-xs display-inline-block fontSize-xs verticleAlign-middle">
						Text replies processed by AI
					</div>
				</div>
				<div ng-show="node.showUserAttr" class="position-fixed" style="top: 0;
																					left: 0;
																					width: 100vw;
																					height: 100vh;
																					z-index: 10;
																					background: rgba(255,255,255,.9);">
					<div  class="position-absolute bg-white padding-xm borderRadius-xs boxShadow-card" style="max-width: 400px; width: 90vw; position: absolute; left: 50%; top: 40%; transform: translateX(-50%) ">
						<span ng-click="node.showUserAttr = false" style="top: 5px; right: 10px; color: #9b9b9b;" class="position-absolute fontSize-s">
							<i class="ion-close-round"></i>
						</span>
						<div class="fontSize-xm fontFamily-primary">
							Save reply to attribute
						</div>
						<div class="input input-m input-full textAlign-left">
							<input ng-model="node.attr_name" ng-blur="vm.genAttrBracket(node,'quickreply');" type="text" placeholder="{...} attributes">
						</div>
						<div class="textAlign-center marginTop-xm display-flex">
							<div ng-click="node.showUserAttr = false;" class="button button-m display-inline-block borderRadius-xs" style="flex: 1; margin-right: 10px;">
								Cancel
							</div>
							<div ng-click="node.showUserAttr = false; node.use_ai = true; vm.saveNode(node); " class="button button-primary borderRadius-xs button-m display-inline-block" style="flex: 1;">
								Save
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
