<style>
	body {
		background-color: #555;
	}
	#sidebar {
		width: 160px;
		height: 100vh;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 2;
	}
	#topbar {
		position: fixed;
		top: 0;
		left: 0;
		z-index: 1;
	}
	#ai-content {
		margin-top: 60px;
		height: 100vh;
		position: relative;
		overflow-y: scroll;
	}
	#ai-content .filter-item > .delete-item,
	#ai-content .action-item > .delete-item,
	#ai-content .intent-box > .delete-item {
		position: absolute;
		display: none;
    top: -11px;
    right: -9px;
    font-size: 18px;
    background: #e8e8e8;
    width: 25px;
    height: 25px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid #ddd;
		color: #aaa;
	}
	#ai-content .filter-item:hover > .delete-item,
	#ai-content .action-item:hover > .delete-item,
	#ai-content .intent-box:hover > .delete-item {
		display: flex;
	}
	#ai-content .filter-item > .delete-item:hover i,
	#ai-content .action-item > .delete-item:hover i,
	#ai-content .intent-box > .delete-item:hover i {
		color: #000000;
	}
	.intent-box:after {
		content: "";
    display: block;
    height: 1px;
    clear: both;
	}

	@media screen and (max-width: 768px) {
		#sidebar {
			width: 80px;
		}
		#topbar {
			margin-left: 80px;
		}
		#ai-content {
			margin-left: 80px;
		}
		.menu-item-icon {
			text-align: center;
			flex: 1;
		}
	}
</style>

<section id="ai-content">
	<div class="position-relative" style="padding: 20px 30px; padding-bottom: 300px;">
		<div style="margin: 0 auto; width: 900px;">
			<div class="fontFamily-primary fontSize-m fontWeight-1 marginBottom-xm c-white">
				AI
			</div>
			<div ng-click="vm.addRule()" style="width: 200px;" class="button bg-white borderColor-white boxShadow-card display-inline-block borderRadius-xs paddingLeftRight-xm textTransform-uppercase">
				<div class="add-icon">
					<i class="ion-plus"></i>
				</div>
				<div>
					Add AI Rule
				</div>
			</div>
			<!-- content -->
			<div class="ai-intent">
				<div ng-repeat="intent in vm.bot.ai" class="intent-box position-relative marginTop-xm bg-white borderRadius-s borderStyle-solid borderColor-grey borderWidth-1">
					<div class="delete-item" ng-click="vm.deleteItem(vm.bot.ai, $index)">
						<i class="ion-trash-b"></i>
					</div>
					<div class="line padding-xm floatLeft" style="width: 50%;">
						<div class="textTransform-uppercase marginTop-xs marginBottom-xs">
							IF USER SAYS SOMETHING SIMILAR TO:
						</div>
						<div class="input input-full textAlign-left">
							<input type="text" ng-model="intent.tempFilter" ng-keyup="$event.keyCode == 13 ? vm.addFilter(intent) : null" ng-blur="vm.addFilter(intent)" placeholder="Press 'Enter' After finish">
						</div>
						<ul class="filter-list marginBottom-s marginTop-s">
							<li class="filter-item position-relative marginRight-xs display-inline-block bg-grey-l cursor-pointer marginBottom-s borderRadius-xs padding-xs borderStyle-solid borderColor-grey borderWidth-1"
									ng-repeat="filter in intent.filters">
							<div class="delete-item" ng-click="vm.deleteItem(intent.filters, $index)">
								<i class="ion-trash-b"></i>
							</div>
								{{filter}}
							</li>
						</ul>
					</div>
					<div class="action padding-xm floatLeft" style="width: 50%;">
						<div class="textTransform-uppercase marginBottom-xs">
							BOT REPLIES:
							<div class="select select-s display-inline-block" style="width: 200px">
								<select ng-model="intent.replyType">
									<option value="text">text</option>
									<option value="block">block</option>
								</select>
							</div>
						</div>
						<div ng-show="intent.replyType == 'text'" class="input input-full textAlign-left position-relative">
							 <input type="text" ng-model="intent.tempText.text" ng-keyup="$event.keyCode == 13 ? vm.addText(intent) : null" ng-blur="vm.addText(intent)" placeholder="Press 'Enter' After finish">
						</div>
						<div ng-show="intent.replyType == 'block'" class="input input-full textAlign-left position-relative">
							<input type="text" ng-model="intent.tempAction.name" ng-focus="intent.showSuggestion = true; intent.tempAction.name = ''">
							<ul ng-show="intent.showSuggestion" class="position-absolute textAlign-left position-absoltue bg-white width-100 suggest-blocks borderTopWidth-1 borderLeftWidth-1 borderRightWidth-1 borderStyle-solid boxShadow-card padding-s" style="border-color: #d8d8d8; z-index: 1;">
								<div class="fontSize-xxs fontWeight-5 padding-xs marginBottom-s">
									Buildin Blocks
									<li ng-click="intent.tempAction.block_id = block.block_id;
																intent.tempAction.name = block.block_name;
																intent.showSuggestion= false; vm.addAction(intent)"
											class="fontSize-s fontWeight-3 bg-white padding-xs cursor-pointer bg-grey--hover"
											ng-if="block.block_id === '0' || block.block_id === '1'"
											ng-repeat="block in vm.filterButton(vm.bot.blocks, intent.tempAction.name)">{{block.block_name}}</li>
								</div>
								<div class="fontSize-xxs fontWeight-5 padding-xs">
									Blocks
									<li ng-click="intent.tempAction.block_id = block.block_id;
																intent.tempAction.name = block.block_name;
																ntent.showSuggestion= false; vm.addAction(intent)"
											class="fontSize-s fontWeight-3 bg-white padding-xs cursor-pointer bg-grey--hover"
											ng-if="block.block_id !== '0' && block.block_id !== '1'"
											ng-repeat="block in vm.filterButton(vm.bot.blocks, intent.tempAction.name)">{{block.block_name}}</li>
								</div>
							</ul>
						</div>
						<ul ng-show="intent.replyType == 'block'" class="action-list marginBottom-s marginTop-s">
							<li class="action-item position-relative marginRight-xs display-inline-block bg-grey-l cursor-pointer marginBottom-s borderRadius-xs padding-s borderStyle-solid borderColor-grey borderWidth-1"
									ng-repeat="action in intent.blocks">
								<div class="delete-item" ng-click="vm.deleteItem(intent.blocks, $index)">
									<i class="ion-trash-b"></i>
								</div>
								{{action.name}}
							</li>
						</ul>
						<ul ng-show="intent.replyType == 'text'" class="action-list marginBottom-s marginTop-s">
							<li class="action-item position-relative marginRight-xs display-inline-block bg-grey-l cursor-pointer marginBottom-s borderRadius-xs padding-xs borderStyle-solid borderColor-grey borderWidth-1"
									ng-repeat="text in intent.texts">
								<div class="delete-item" ng-click="vm.deleteItem(intent.texts, $index)">
									<i class="ion-trash-b"></i>
								</div>
								{{text}}
							</li>
						</ul>
					</div>
				</div>
			</div>
			<!-- end content -->

		</div>
	</div>
</section>