<style>
    .expand-body{
        background: #444;
        padding: 20px 30px;
    }

    .expand-txt{
        color: white;
        display: inline-block;
    }

    .expand-txt_key {
        margin-bottom: 5px;
    }

</style>


<div class = "expand-body">
    <div ng-repeat = "(key,value) in row.attr">
        <div class = "row">
            <p class = "expand-txt expand-txt_key col-xs-2">{{key}} :</p>
            <p class = "expand-txt col-xs-10">{{value}}</p>
        </div>
    </div>
</div>
