<style>
  a.share-link-a:focus,
  a.share-link-a:visited,
  a.share-link-a:active,
  a.share-link-a {
    color: #b8b8b8 !important;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 150px;
    display: inline-block;
    vertical-align: middle;
  }
  a.share-link-a:hover {
    color: #555 !important;
  }
  .bot-profile {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .bot-profile .back {
    flex: .1;
  }
  .bot-profile .profile-info {
    flex: .9;
  }
  .bot-profile .profile-img {
    content: '';
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #ddd;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .bot-profile .profile-name {
    display: inline-block;
    vertical-align: middle;
    text-transform: capitalize;
  }

  .remove-block {
    display: inline-block;
    float: right;
    font-size: 16px;
    color: #aaa;
  }

  .remove-block:hover {
    color: #333;
  }

  .WYSIWYG_input {
    background: transparent;
    border: 1px solid transparent;
    padding: 3px;
    cursor: pointer;
  }

  .WYSIWYG_input:focus,
  .WYSIWYG_input:active,
  .WYSIWYG_input:hover {
    border: 1px solid #555;
  }

  .delete {
    z-index: 1;
  }

  .delete-hover:hover {
    color: #000000 !important;
  }

  .card.-typing {
    background-color: #ffffff;
  }

  .card-drag {
    display: none;
    padding-top: 10px;
    cursor: ns-resize;
    position: absolute;
    top: 5px;
    left: -25px;
    font-size: 35px;
    width: 30px;
    text-align: center;
    height: 100%;
    color: #bbb;
    z-index: 10;
  }

  .card-drag:hover {
    color: #333;
  }

  .cards:hover .card-drag {
    display: block;
  }

  .copy-btn {
    display: inline-block;
    border: 2px solid rgba(0,0,0,0);
    border-radius: 100px;
    background-color: white;
    padding: 5px 10px;
    margin-left: 10px;
    margin-right: 10px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .2);
  }

  .copy-btn:hover {
    border-color: #0084ff;
  }

  .copy-btn:active {
    opacity: 0.6;
  }

  .not-sortable {
    cursor: default;
  }
  .relation-block {
    background: #ffffff;
    padding: 4px 7px;
    border-radius: 5px;
    font-size: 12px;
    box-shadow: 0px 0px 4px rgba(0,0,0,.4);
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
    margin-left: 10px;
  }

  .tooltip-copy:before {
    content: '';
    width: 10px;
    height: 10px;
    background-color: #333;
    display: block;
    position: absolute;
    top: -3px;
    left: 25px;
    transform: rotate(45deg);
  }
  .tooltip-copy {
    position: absolute;
    top: 45px;
    left: 27px;
    background: #333;
    color: #fff;
    font-size: 12px;
    border-radius: 6px;
    padding: 5px 10px;
  }

.tooltip {
    position: relative;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 85px;
    border: 1px dashed black;
    color: black;
    text-align: center;
    border-radius: 6px;
    padding: 4px 0;
    margin-left: 15px;
    bottom: -5px;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

  .rotating {
    animation-name: spin;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }

  .blockId-tag{
    margin-bottom: 20px;
    margin-left: 6px;
  }


  .popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  /* The actual popup */

  .popup .popuptext {
    visibility: hidden;
    width: 135px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -27px;
  }
  /* Popup arrow */

  .popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  /* Toggle this class - hide and show the popup */

  .popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
  }

  @-moz-keyframes spin {
    from {
      -moz-transform: rotate(0deg);
    }
    to {
      -moz-transform: rotate(360deg);
    }
  }

  @-webkit-keyframes spin {
    from {
      -webkit-transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg);
    }
  }

  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
</style>
<!-- bot-structure-bar -->
<section id="bot-structure-bar" class="boxShadow-card">
  <div class="bot-profile paddingTopBottom-s paddingLeftRight-xm">
    <div ui-sref="dashboard" class="back fontSize-l">
      <i class="ion-ios-arrow-back"></i>
    </div>
    <div class="profile-info">
      <div class="profile-img" style="background-image: url('./assets/images/robot.png'); background-color: hsla(0, 60%, 60%, 1)"></div>
      <div class="profile-name">
        {{ vm.bot.bot_name }}
      </div>
    </div>
  </div>
  <div style="padding-bottom: 100px;">
    <div ui-sortable="vm.sortableGroups" ng-model="vm.groups">
      <div ng-repeat="group in vm.groups track by group.key" ng-class="{'not-sortable': group.name == 'Build-in Blocks'}" style="border-color:rgba(255,255,255,.1);"  class="borderTopWidth-1 borderStyle-solid cursor-pointer sortable-group marginLeft-xm marginRight-xm paddingTopBottom-xm blocks-group fontSize-xxs fontWeight-5">
        <div ng-show="group.name == 'Build-in Blocks'" class="textTransform-upppercase">
          {{group.name}}
        </div>
        <div ng-show="group.name == 'Build-in Blocks'" class="display-flex paddingTopBottom-s">
          <div ng-repeat="block in group.blocks track by block.block_id" class="block-item margin-xxs" style="flex: 1;">
            <div ng-class="{'block-active': vm.currentBlock.block_id == block.block_id}" ng-click="vm.getBlock(block.block_id)" class="textAlign-center fontWeight-4 bg-grey-l boxShadow-card--hover cursor-pointer paddingLeftRight-xs paddingTopBottom-s borderRadius-xs " style="color:#787878">
              {{vm.bot.blocks['block' + block.block_id].block_name}}
            </div>
          </div>
        </div>
        <div ng-show="group.name != 'Build-in Blocks'">
          <input type="text" ng-model="group.name" class="WYSIWYG_input" placeholder="Untitle Group" ng-blur="vm.saveGroup()" ng-keyup="$event.keyCode == 13 ? vm.saveGroup() : null;">
          <div ng-click="vm.deleteGroup($index, group.key)" class="remove-block">
            <i class="ion-trash-b"></i>
          </div>
        </div>

        <div ng-show="group.name != 'Build-in Blocks'" class="row paddingTopBottom-s margin-0">
          <div ui-sortable="vm.sortableGroupBlock" ng-model="group.blocks" class="connect" style="min-height: 40px; display: flex; flex-wrap: wrap; ">
            <div ng-repeat="block in group.blocks track by block.block_id" data-group-key="{{group.key}}" data-block-id="{{block.block_id}}" class="block-item padding-xxs" style="max-width: 82px">
              <div ng-class="{'block-active': vm.currentBlock.block_id == block.block_id}" ng-click="vm.getBlock(block.block_id);vm.saveIndexBlock(group.key)" style="line-height: 1; color:#787878; height: 40px; padding: 0 5px; display: flex; justify-content: center; align-items: center;"
                class="textAlign-center fontWeight-4 bg-grey-l boxShadow-card--hover cursor-pointer paddingLeftRight-xs paddingTopBottom-s borderRadius-xs ">
                <span style="text-overflow: ellipsis; overflow: hidden; display: block;">
                    {{vm.bot.blocks['block' + block.block_id].block_name}}
                </span>
              </div>
            </div>
            <div ng-click="vm.addBlock($index, group.key)" class="not-sortable block-item padding-xxs">
              <div style="display: flex; justify-content: center; align-items: center; max-width: 79px" class="textAlign-center fontWeight-4 bg-white boxShadow-card--hover cursor-pointer paddingLeftRight-xs paddingTopBottom-s borderRadius-xs ">
                <div class="add-icon">
                  <i class="ion-plus-round"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <section class="paddingLeftRight-xm borderTopWidth-1 blocks-group fontSize-xxs fontWeight-5">
      <div ng-click="vm.addGroup()" style="border-color:rgba(255,255,255,.1);" class="cursor-pointer borderTopWidth-1 borderStyle-solid paddingTopBottom-xm">
        <div class="add-icon">
          <i class="ion-plus-round"></i>
        </div>
        <div style="margin-left: 10px; vertical-align: middle;" class="display-inline-block">Add more group</div>
      </div>
    </section>
  </div>
</section>
<!-- end bot-structure-bar -->

<!-- blocks-content -->
<section id="blocks-content">
  <div class="position-relative" style="background-color: rgba(245,245,245,1); padding: 20px 30px; overflow: scroll; white-space: nowrap; height: 92vh;">
    <div ng-show="vm.currentBlock.block_id === '0' || vm.currentBlock.block_id === '1' || vm.currentBlock.block_id === '2'" class="display-inline-block fontFamily-primary fontSize-m fontWeight-1 ">
      {{vm.currentBlock.block_name}}
    </div>
    <div ng-hide="vm.currentBlock.block_id === '0' || vm.currentBlock.block_id === '1' || vm.currentBlock.block_id === '2'" class="display-inline-block fontFamily-primary fontSize-m fontWeight-1 ">
      <input type="text" ng-change="vm.saveBlock()" ng-model="vm.currentBlock.block_name" class="WYSIWYG_input" placeholder="Untitled Block" ng-keyup="$event.keyCode == 13 ? vm.saveBlock() : null;">
    </div>

    <!--ng-show="vm.page_id" -->
    <div style = "position: absolute; right: 20px; top: 22px;">
      <div class="share-block" ng-show="vm.page_id">
        <i class="ion-share" ng-click="share_block = true;"></i> <a class="fontSize-xxs share-link-a" href="https://m.me/{{vm.page_id}}?ref={{vm.currentBlock.block_id}}" target="_blank">https://m.me/{{vm.page_id}}?ref={{vm.currentBlock.block_id}}</a>
      </div>

      <button class="copy-btn" ng-hide="vm.currentBlock.block_id === '0' || vm.currentBlock.block_id === '1' || vm.currentBlock.block_id === '2'" ng-click="vm.copyBlock()"><i style = "font-size: 18px;margin-right: 10px;" class ="ion-ios-copy-outline"></i>Duplicate</button>
      
      <button style = "font-size:16px;" class="copy-btn" ng-hide="vm.currentBlock.block_id === '0' || vm.currentBlock.block_id === '1' || vm.currentBlock.block_id === '2'" ng-click="vm.deleteBlock()">
          <i class="ion-trash-b"></i>
      </button>
    </div>

    <div style = "margin-bottom:26px;" class="input input-full textAlign-left">
        <div class="popup">
          <span class="popuptext" id="myPopup">copies to clipboard</span>
        </div>
        <label style = "margin-right:5px;font-weight:300;">Block id:</label>
        <input style = "max-width:220px;background: #fefefe;font-size:14px;" ng-model="vm.currentBlock.block_id" ng-click="vm.copyText()" id="broadcastAPI" type="text" class="width-100 marginTop-s bg-foreground paddingLeftRight-s paddingTopBottom-xs borderWidth-1 borderStyle-solid borderColor-grey borderRadius-xs" readonly select-text>
    </div>

    <div ng-show = "vm.currentFromGotoblock.length > 0" style = "position:relative;bottom:10px;">
      <p style = "margin-left:5px;" class="display-inline-block fontWeight-3">link from :</p>
      <div class="display-inline-block relation-block bg-primary--hover c-white--hover" ng-repeat="from in vm.currentFromGotoblock">
          <div ng-click="vm.getBlock(from.id);">
          {{from.name}}
          </div>
      </div>
    </div>

    <!-- <div ng-hide="vm.currentBlock.block_id === '0' || vm.currentBlock.block_id === '1'" ng-click="vm.deleteBlock()" class="delete delete-hover position-absolute c-black--hover fontSize-m"
      style="color: #aaaaaa; top: 20px; right: 30px;">
      <i class="ion-trash-b"></i>
    </div> -->

    <!-- conversation -->
    <div ui-sortable="vm.sortableOptions" ng-model="vm.nodes" class="position-relative">
      <div ng-repeat="node in vm.nodes" class="cards --{{node.nodeResponse.type}} position-relative sortable-card">
        <div class="card-drag">
          <i class="ion-android-more-vertical"></i>
        </div>
        <node-input></node-input>
        <node-attribute></node-attribute>
        <node-goto-block></node-goto-block>
        <node-text></node-text>
        <node-carousel></node-carousel>
        <node-image></node-image>
        <node-vdo></node-vdo>
        <node-audio></node-audio>
        <node-file></node-file>
        <node-typing></node-typing>
        <node-button></node-button>
        <node-json></node-json>
        <node-live-chat></node-live-chat>
        <node-gmail></node-gmail>
        <node-email></node-email>
        <node-location></node-location>
        <node-time-stamp></node-time-stamp>
        <node-gettime></node-gettime>
        <node-math></node-math>
      </div>
    </div>
    <!-- end conversation -->

    <!-- card assets -->
    <div id="card-assets" style="margin-bottom: 100px" class="marginTop-xl">
      <div class="fontSize-xxs fontWeight-5  marginBottom-s">
        ADD A CARD
      </div>
      <div class="display-flex boxShadow-card">
        <div ng-click="vm.addNode('text');showMore = false" class="asset-item textAlign-center bg-white bg-grey-l--hover cursor-pointer borderRightWidth-1 borderStyle-solid borderColor-grey padding-s"
          style="flex: 1; width: 0;">
          <div class="asset-icon fontSize-m">
            <i class="ion-document-text"></i>
          </div>
          <div class="asset-label fontWeight-4 fontSize-xxs textTransform-uppercase">
            text
          </div>
        </div>
        <div ng-click="vm.addNode('carousel');showMore = false" class="asset-item textAlign-center bg-white bg-grey-l--hover cursor-pointer borderRightWidth-1 borderStyle-solid borderColor-grey padding-s"
          style="flex: 1; width: 0;">
          <div class="asset-icon fontSize-m">
            <i class="ion-filing"></i>
          </div>
          <div class="asset-label fontWeight-4 fontSize-xxs textTransform-uppercase">
            carousel
          </div>
        </div>
        <div ng-click="vm.addNode('button');showMore = false" class="asset-item textAlign-center bg-white bg-grey-l--hover cursor-pointer borderRightWidth-1 borderStyle-solid borderColor-grey padding-s"
          style="flex: 1; width: 0;" ng-click="">
          <div class="asset-icon fontSize-m">
            <i class="ion-arrow-swap"></i>
          </div>
          <div class="asset-label fontWeight-4 fontSize-xxs textTransform-uppercase">
            quick reply
          </div>
        </div>
        <div ng-click="vm.addNode('input')" class="asset-item textAlign-center bg-white bg-grey-l--hover cursor-pointer borderRightWidth-1 borderStyle-solid borderColor-grey padding-s"
          style="flex: 1; width: 0;">
          <div class="asset-icon fontSize-m">
            <i class="ion-code"></i>
          </div>
          <div class="asset-label fontWeight-4 fontSize-xxs textTransform-uppercase">
            input
          </div>
        </div>
        <div ng-click="vm.addNode('set_attr')" class="asset-item textAlign-center bg-white bg-grey-l--hover cursor-pointer borderRightWidth-1 borderStyle-solid borderColor-grey padding-s"
          style="flex: 1; width: 0;">
          <div class="asset-icon fontSize-m">
            <i class="ion-code"></i>
          </div>
          <div class="asset-label fontWeight-4 fontSize-xxs textTransform-uppercase">
            set attributes
          </div>
        </div>
        <div ng-click="vm.addNode('gotoblock')" class="asset-item textAlign-center bg-white bg-grey-l--hover cursor-pointer borderRightWidth-1 borderStyle-solid borderColor-grey padding-s"
          style="flex: 1; width: 0;">
          <div class="asset-icon fontSize-m">
            <i class="ion-arrow-return-left"></i>
          </div>
          <div class="asset-label fontWeight-4 fontSize-xxs textTransform-uppercase">
            go to block
          </div>
        </div>
        <div ng-click="vm.addNode('typing')" class="asset-item textAlign-center bg-white bg-grey-l--hover cursor-pointer borderRightWidth-1 borderStyle-solid borderColor-grey padding-s"
          style="flex: 1; width: 0;">
          <div class="asset-icon fontSize-m">
            <i class="ion-chatbubble-working"></i>
          </div>
          <div class="asset-label fontWeight-4 fontSize-xxs textTransform-uppercase">
            typing...
          </div>
        </div>
        <div class="asset-item textAlign-center bg-white bg-grey-l--hover cursor-pointer borderRightWidth-1 borderStyle-solid borderColor-grey padding-s"
          style="flex: 1; width: 0;" ng-click="showMore = !showMore">
          <div class="asset-icon fontSize-m">
            <i class="ion-ios-arrow-forward"></i>
            <i class="ion-ios-arrow-forward" style="margin-left: -8px;"></i>
          </div>
          <div style="color: #8a8a8a;" class="asset-label fontWeight-4 fontSize-xxs textTransform-uppercase">
            more
          </div>
        </div>
      </div>
      <div ng-show="showMore" ng-click="showMore = false">
        <div class="display-flex boxShadow-card" style="width: 752px; float: right">
          <div ng-click="vm.addNode('jsonapi');showMore = false" class="asset-item textAlign-center bg-white bg-grey-l--hover cursor-pointer borderRightWidth-1 borderStyle-solid borderColor-grey padding-s"
            style="flex: 1;">
            <div class="asset-icon fontSize-m">
              <i class="ion-wand"></i>
            </div>
            <div class="asset-label fontWeight-4 fontSize-xxs textTransform-uppercase">
              JSON
            </div>
          </div>

          <div ng-click="vm.addNode('timestamp');showMore = false" class="asset-item textAlign-center bg-white bg-grey-l--hover cursor-pointer borderRightWidth-1 borderStyle-solid borderColor-grey padding-s"
          style="flex: 1;">
            <div class="asset-icon fontSize-m">
              <i class="ion-ios-time"></i>
            </div>
            <div class="asset-label fontWeight-4 fontSize-xxs textTransform-uppercase">
              Timestamp
            </div>
          </div>

          <div ng-click="vm.addNode('gettime');showMore = false" class="asset-item textAlign-center bg-white bg-grey-l--hover cursor-pointer borderRightWidth-1 borderStyle-solid borderColor-grey padding-s"
          style="flex: 1;">
            <div class="asset-icon fontSize-m">
              <i class="ion-calendar"></i>
            </div>
            <div class="asset-label fontWeight-4 fontSize-xxs textTransform-uppercase">
              Get time
            </div>
          </div>
          <div ng-click="vm.addNode('image');showMore = false" class="asset-item textAlign-center bg-white bg-grey-l--hover cursor-pointer borderRightWidth-1 borderStyle-solid borderColor-grey padding-s"
            style="flex: 1;">
            <div class="asset-icon fontSize-m">
              <i class="ion-image"></i>
            </div>
            <div class="asset-label fontWeight-4 fontSize-xxs textTransform-uppercase">
              image
            </div>
          </div>
          <div ng-click="vm.addNode('video');showMore = false" class="asset-item textAlign-center bg-white bg-grey-l--hover cursor-pointer borderRightWidth-1 borderStyle-solid borderColor-grey padding-s"
            style="flex: 1;">
            <div class="asset-icon fontSize-m">
              <i class="ion-ios-videocam"></i>
            </div>
            <div class="asset-label fontWeight-4 fontSize-xxs textTransform-uppercase">
              VDO
            </div>
          </div>
          <div ng-click="vm.addNode('audio');showMore = false" class="asset-item textAlign-center bg-white bg-grey-l--hover cursor-pointer borderRightWidth-1 borderStyle-solid borderColor-grey padding-s"
            style="flex: 1;">
            <div class="asset-icon fontSize-m">
              <i class="ion-music-note"></i>
            </div>
            <div class="asset-label fontWeight-4 fontSize-xxs textTransform-uppercase">
              Audio
            </div>
          </div>
          <div ng-click="vm.addNode('file');showMore = false" class="asset-item textAlign-center bg-white bg-grey-l--hover cursor-pointer borderRightWidth-1 borderStyle-solid borderColor-grey padding-s"
            style="flex: 1;">
            <div class="asset-icon fontSize-m">
              <i class="ion-document-text"></i>
            </div>
            <div class="asset-label fontWeight-4 fontSize-xxs textTransform-uppercase">
              File
            </div>
          </div>
          <div ng-click="vm.addNode('livechat');showMore = false" class="asset-item textAlign-center bg-white bg-grey-l--hover cursor-pointer borderRightWidth-1 borderStyle-solid borderColor-grey padding-s"
            style="flex: 1;">
            <div class="asset-icon fontSize-m">
              <i class="ion-chatboxes"></i>
            </div>
            <div class="asset-label fontWeight-4 fontSize-xxs textTransform-uppercase">
              Live Chat
            </div>
          </div>
          <div ng-click="vm.addNode('gmail');showMore = false" class="asset-item textAlign-center bg-white bg-grey-l--hover cursor-pointer borderRightWidth-1 borderStyle-solid borderColor-grey padding-s"
            style="flex: 1;">
            <div class="asset-icon fontSize-m">
              <i class="ion-social-google"></i>
            </div>
            <div class="asset-label fontWeight-4 fontSize-xxs textTransform-uppercase">
              Gmail
            </div>
          </div>
          <div ng-click="vm.addNode('email');showMore = false" class="asset-item textAlign-center bg-white bg-grey-l--hover cursor-pointer borderRightWidth-1 borderStyle-solid borderColor-grey padding-s"
            style="flex: 1;">
            <div class="asset-icon fontSize-m">
              <i class="ion-email"></i>
            </div>
            <div class="asset-label fontWeight-4 fontSize-xxs textTransform-uppercase">
              Email
            </div>
          </div>
          <div ng-click="vm.addNode('location');showMore = false" class="asset-item textAlign-center bg-white bg-grey-l--hover cursor-pointer borderRightWidth-1 borderStyle-solid borderColor-grey padding-s"
          style="flex: 1;">
          <div class="asset-icon fontSize-m">
            <i class="ion-location"></i>
          </div>
          <div class="asset-label fontWeight-4 fontSize-xxs textTransform-uppercase">
            Location
          </div>
        </div>
         <div ng-click="vm.addNode('math');showMore = false" class="asset-item textAlign-center bg-white bg-grey-l--hover cursor-pointer borderRightWidth-1 borderStyle-solid borderColor-grey padding-s"
          style="flex: 1;">
          <div class="asset-icon fontSize-m">
            <i class="ion-calculator"></i>
          </div>
          <div class="asset-label fontWeight-4 fontSize-xxs textTransform-uppercase">
            Math
          </div>
        </div>
        </div>
      </div>
    </div>
    <!-- end card assets -->
  </div>
</section>
<!-- end blocks-content -->


<!-- Share modal -->
<div ng-show="share_block" class="overlay animated fadeIn" id="share-modal">
  <div class="overlay-modal">
    <div class="fontSize-xm fontFamily-primary">
      Share this block
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="input input input-full">
          <input class="" onclick="this.select()" type="text" value="https://m.me/{{vm.page_id}}?ref={{vm.currentBlock.block_id}}" readonly>
        </div>
      </div>
    </div>
    <hr style="margin: 10px 0;">
    <div class="row">
      <div class="col-xs-6">
        <div class="button position-relative" style="max-width: 110px;" ngclipboard ngclipboard-success="vm.copySuccess(e)" data-clipboard-text="https://m.me/{{vm.page_id}}?ref={{vm.currentBlock.block_id}}">
          <i class="ion-ios-copy fontSize-s"></i> Copy link
          <div ng-show="vm.copied" class="animated fadeIn tooltip-copy">
            Copied
          </div>
        </div>
      </div>
      <div class="col-xs-6 textAlign-right">
        <div ng-click="share_block = false;" class="button button-primary display-inline-block" style="width: 110px;">
          Done
        </div>
      </div>
    </div>
  </div>
</div>


<div ng-show="vm.image_aspect.show" class="position-fixed" style="z-index: 100; top: 0; left: 0; width: 100vw; height: 100vh; background: rgba(255,255,255,.9); display:flex; align-items: center; justify-content: center;">
  <div class="padding-xm bg-white boxShadow-card borderRadius-xs" style="width: 90vw; max-width: 400px;">
    <div class="fontFamily-primary fontSize-xm">
      Configure image
    </div>
    <div class="padding-xs textAlign-center marginTop-xm">
      Horizontal
      <div
        ng-class="{'-off': vm.image_aspect.node.image_aspect_ratio == 'horizontal', '-on': vm.image_aspect.node.image_aspect_ratio == 'square'}"
        ng-click="vm.toggleImageAspect(vm.image_aspect.node);"
        class="toggle"></div>
      Sqaure
    </div>
    <div class="marginTop-xm textAlign-right">
      <div ng-click="vm.image_aspect = undefined;" class="button button-s display-inline-block">
        Cancel
      </div>
      <div ng-click="vm.saveNode(vm.image_aspect.node); vm.image_aspect = undefined;" class="button button-s button-primary display-inline-block">
        Save
      </div>
    </div>
  </div>
</div>
