<div ng-if="vm.modalStatus==='pending'">
	<div class = "subscribtion-overlay">
		<div class = "pending-modal">
				<div class = "title-bar">
					<h1 class = "sub-title">Waiting for Approval from facebook</h1>
					<button class = "sub-close-btn" ng-click="vm.modalStatus = ''">X</button>
				</div>
				<div class = "sub-step-container">
					<p class = "sub-step">Your subscription messaging is in review.</p>
				</div>
		</div>
	</div>
</div>

<div ng-if="vm.modalStatus==='review'">
	<div class = "subscribtion-overlay">
		<div class = "subscribtion-modal">
				<div class = "title-bar">
					<h1 class = "sub-title">Applying to Send Subscription Messages</h1>
					<button class = "sub-close-btn" ng-click="vm.modalStatus = ''">X</button>
				</div>
				<iframe style = "width:90%;height:70%;display:block;margin:0 auto;"
					src="https://www.youtube.com/embed/0BM8Dle9sBk">
				</iframe>
				<div style = "padding:15px 5%;">
					<p style = "font-weight:bold;color:#0183ff;">For more information</p>
					<a style = "padding-bottom:20px;text-decoration: underline;" src = "https://developers.facebook.com/docs/messenger-platform/policy/policy-overview?locale=en_US">https://developers.facebook.com/docs/messenger-platform/policy/policy-overview?locale=en_US</a>
				</div>
		</div>
	</div>
</div>

<section class="sub-menu-bar boxShadow-card">
	<div class="">
		<div class="padding-xm fontSize-m fontFamily-primary fontWeight-1">
			Broadcast
		</div>
		<section id="buildin-blocks" style="border-color: rgba(255,255,255,.1);" class="padding-xm borderTopWidth-1 borderBottomWidth-1 borderStyle-solid blocks-group fontSize-xxs fontWeight-5 ">
			<div class="textTransform-uppercase">
				Schedule message
			</div>
			<div class="row paddingTopBottom-s margin-0">
				<div ng-repeat="broadcast in vm.bot.broadcast" class="col-xs-6 block-item padding-xxs" >
					<div ui-sref-active="block-active" ui-sref="bot.broadcast({ broadcast_id: broadcast.broadcast_id})" style="color: #333; height: 40px; padding: 0 5px; display: flex; justify-content: center; align-items: center;" class="textAlign-center fontWeight-4 bg-grey-l boxShadow-card--hover cursor-pointer paddingLeftRight-xs paddingTopBottom-s borderRadius-xs borderWidth-1">
						{{broadcast.broadcast_time | date:'MMM d, y'}}
					</div>
				</div>
				<div ng-click="vm.addBroadcast()" class="col-xs-6 block-item padding-xxs">
					<div style="display: flex; justify-content: center; align-items: center;" class="textAlign-center fontWeight-4 bg-white boxShadow-card--hover cursor-pointer paddingLeftRight-xs paddingTopBottom-s borderRadius-xs ">
						<div class="add-icon">
							<i class="ion-plus-round"></i>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<style>
	.subscribtion-modal p{
		font-size: 16px;
	}
	.sub-title{
		position: relative;
		width: 100%;
		display: inline-block;
		text-align: center;
		color: white;
		font-size: 20px;
	}
	.title-bar{
		background: #0183ff;
    	border-bottom: 1px solid #ffffff;
		margin-bottom: 25px;
	}
	.sub-step-container{
		padding: 0 10%;
	}
	.sub-step{
		margin-top: 10px;
	}
	.sub-close-btn{
		font-weight: bold;
		border: none;
		font-size: 16px;
		position: absolute;
		top: 10px;
		right: 10px;
		display: inline-block;
		opacity: 0.6;
		color: white;
		background: none;
	}
	.sub-close-btn:hover{
		opacity: 0.3;
	}
	.subscribtion-overlay{
		left: 0;
		top: 0;
		position: absolute;
		height: 100%;
		width: 100%;
		background: rgba(0,0,0,0.8);
		z-index: 999;
	}
	.subscribtion-modal{
		overflow: auto;
		position: absolute;
		width: 90%;
		height: 90%;
		background: white;
		z-index: 999;
		border-radius: 2px;
		box-shadow: 0px 0px 10px #AAA;
		top: 40%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
	.pending-modal{
		overflow: auto;
		position: absolute;
		width: 60%;
		height: 50%;
		background: white;
		z-index: 999;
		border-radius: 2px;
		box-shadow: 0px 0px 10px #AAA;
		top: 40%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
	.sub-img{
		border-radius: 2px;
		box-shadow: 0px 0px 6px #AAA;
		padding: 20px;
		display: block;
		margin: 30px auto;
	}
	.sub-details li {
		list-style-type: circle;
		margin: 20px 20px;
	}
	.toggle {
		width: 60px;
		height: 30px;
		border-radius: 30px;
	}
	.toggle.-on::after {
		content: "On";
		position: absolute;
		top: 7px;
		left: 8px;
		font-size: 10px;
		text-transform: uppercase;
		color: #ffffff;
	}
	.toggle.-off::before {
		content: "";
		display: block;
		width: 24px;
		height: 24px;
		border-radius: 20px;
		background-color: #fff;
		position: absolute;
		left: 3px;
		box-shadow: 0px 1px 0px #ccc;
		top: 2px;
	}
	.toggle.-on::before {
		content: "";
		display: block;
		width: 24px;
		height: 24px;
		border-radius: 20px;
		background-color: #fff;
		position: absolute;
		right: 3px;
		box-shadow: 0px 1px 0px #ccc;
		top: 2px;
	}
	.toggle.-off::after {
		content: "Off";
		position: absolute;
		top: 7px;
		right: 8px;
		font-size: 10px;
		text-transform: uppercase;
		color: #939393;
	}
	input[type="date"] {
		border: none;
	}
	.card.-typing {
		background-color: #ffffff;
	}
	.card-drag {
		display: none;
		padding-top: 10px;
		cursor: ns-resize;
		position: absolute;
		top: 5px;
    left: -25px;
    font-size: 35px;
    width: 30px;
    text-align: center;
		height: 100%;
		color: #bbb;
	}
	.card-drag:hover {
		color: #333;
	}
	.cards:hover .card-drag {
		display: block;
	}

	::-webkit-datetime-edit-second-field,
	::-webkit-datetime-edit-millisecond-field {
    background: #ffffff;
    color: transparent;
    margin-left: -4px;
    position: absolute;
    width: 1px;
  }
	.delete {
		z-index: 1;
	}
	.delete-hover:hover {
		color: #000000 !important;
	}
	.filter-box-row .delete {
		display: none;
    position: absolute;
    top: -4px;
    right: -12px;
    width: 30px;
    height: 30px;
    background: #ffffff;
    border-radius: 50%;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 20px;
	}
	.filter-box-row:hover .delete {
    display: flex;
    color: #aaa; }
  .filter-box-row:hover .delete:hover {
    color: black; }
	.filter-panel {
		position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 3;
    background: rgba(255,255,255,.9);
	}
	.filter-panel .filter-box {
		position: relative;
		text-align: left;
    max-width: 820px;
    margin: 30vh auto 0 auto;
    min-height: 220px;
    border-radius: 5px;
    border: 1px solid #e8e8e8;
	}
	.filter-panel .filter-box .filter-box-close {
		position: absolute;
    top: 5px;
    right: 15px;
	}
</style>
<!-- broadcast-content -->
<section id="blocks-content" style="background-color: rgba(245,245,245,1);">
	<div style="padding: 0 30px; line-height: 20px; font-size: 10px;  color: black; background-color: #F6E9A9;font-weight: bold;">
			Broadcast messages can only be non-promotional (No advertising, solicitations, marketing, or promotional content of any kind. For complete details, see <a href="https://developers.facebook.com/docs/messenger-platform/policy/policy-overview#eligible_use_cases">Subscription Messaging - Eligible Use Cases</a>  ).
			Any violations may lead Facebook to revoking your permission to send more subscription messages. Please find more information<a href="https://developers.facebook.com/docs/messenger-platform/policy/policy-overview#subscription_messaging"> here.</a>
	</div>
	<div ng-show="vm.currentBroadcast.broadcast_type" class="position-relative" style="padding: 20px 30px; overflow: scroll; white-space: nowrap; height: 100vh; min-height: 100vh; padding-bottom: 100px;">
		<div class="row margin-0">
			<div class="col-xs-12 marginBottom-xm paddingLeftRight-0">
				<div
					ng-class="{'-on': vm.currentBroadcast.enable, '-off': !vm.currentBroadcast.enable}"
					ng-click="vm.changeBroadcastType()"
					class="toggle">
				</div>
				<div class="marginLeft-xs display-inline-block fontFamily-primary fontSize-m fontWeight-1 verticleAlign-middle">
					Schedule message
				</div>
				<div ng-click="vm.deleteBroadcast(vm.currentBroadcast)" class="display-inline-block c-black--hover fontSize-m verticleAlign-middle" style="color: #aaaaaa; top: 20px; right: 30px; position: absolute; top: 3px; right: 0;">
					<i class="ion-trash-b"></i>
				</div>
			</div>
		</div>

		<div class="row margin-0">
			<div class="col-xs-8 paddingLeft-0">
				<div class="select select-m display-inline-block verticleAlign-middle">
					<input
						ng-model="vm.currentBroadcast.date"
						ng-change="vm.saveDateTime()"
						type="date">
				</div>
				<div class="input input-m display-inline-block verticleAlign-middle">
					<input
						type="time"
						ng-model="vm.currentBroadcast.time"
						ng-change="vm.saveDateTime()">
				</div>
				<div class="select select-m display-inline-block verticleAlign-middle">
					<select ng-model="vm.currentBroadcast.interval" ng-change="vm.saveInterval(vm.currentBroadcast.interval)" style="width: 200px;">
						<option value="one_time" selected>Repeat: None</option>
						<option value="hour">Repeat: Every hour</option>
						<option value="day">Repeat: Every day</option>
						<option value="week">Repeat: Every week</option>
						<option value="month">Repeat: Every month</option>
					</select>
				</div>
			</div>
			<div class="col-xs-4 textAlign-right paddingRight-0">
				<div ng-click="addFilter = true" style="padding-top: 6px; padding-bottom: 6px;" class="button button-primary display-inline-block textTransform-capitalize paddingLeftRight-xm">
					<i class="ion-person-stalker"></i> User filter
				</div>
				<div ng-show="addFilter" class="filter-panel">
					<div class="filter-box bg-white padding-xm boxShadow-card">
						<div ng-click="addFilter = false" class="filter-box-close c-grey-l fontSize-l">
							<i class="ion-android-close"></i>
						</div>
						<div class="filter-box-content">
							<div class="fontSize-m fontFamily-primary">Filter Users</div>
							<div class="filter-box-row row marginTop-s position-relative" ng-repeat="condition in vm.currentBroadcast.broadcast_conditions">
								<div id="delete-card" class="delete" ng-show="$index!=0" ng-click="vm.currentBroadcast.broadcast_conditions.splice($index,1); vm.saveNode(node)">
									<i class="ion-trash-b"></i>
								</div>
								<div class="col-xs-2">
									<div ng-show="$index == 0" class="select select-m select-full select-disabled">
										<select disabled>
											<option value="if" disabled selected>IF</option>
											<option value="and">AND</option>
											<option value="or">OR</option>
										</select>
									</div>
									<div ng-show="$index !== 0" class="select select-m select-full">
										<select ng-model="condition.connection">
											<option value="if">IF</option>
											<option value="and">AND</option>
											<option value="or">OR</option>
										</select>
									</div>
								</div>
								<div class="col-xs-4">
									<div class="input input-full textAlign-left">
										<textarea style="
										width: 100%;
										height: 34px;
										padding: 5px;
										font-size: 16px;
										border-color: #d8d8d8;
										border-radius: 5px;"
										ng-model="condition.first_var">
										</textarea>
									</div>
								</div>
								<div class="col-xs-2">
									<div class="select select-m select-full">
										<select ng-model="condition.operation">
											<option value="=">is</option>
											<option value="!=">is not</option>
											<option value=">">></option>
											<option value="<"><</option>
											<option value=">=">>=</option>
											<option value="<="><=</option>
										</select>
									</div>
								</div>
								<div class="col-xs-4">
									<div class="input input-full textAlign-left">
										<input type="text" ng-model="condition.second_var">
									</div>
								</div>
							</div>
							<div class="row marginTop-xm position-relative">
								<div class="col-xs-3">
									<div ng-click="vm.currentBroadcast.broadcast_conditions.push({ connection: 'and', first_var: '', second_var: '', operation: '' })" class="button button-primary">
										<i class="ion-plus-round"></i> ADD FILTER
									</div>
								</div>
							</div>
						</div>
						<div class="row marginTop-xm position-relative">
							<div class="col-xs-12 textAlign-right">
								<div ng-click="vm.saveBroadcast(); addFilter = false" class="button button-primary" style="display: inline-block; padding: 5px 30px; margin-left: 5px;">
									Save
								</div>
								<div ng-click="addFilter = false" class="button" style="display: inline-block; padding: 5px 30px; margin-left: 5px;">
									Close
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- conversation -->
		 <div ui-sortable="vm.sortableOptions" ng-model="vm.currentBroadcast.nodes" style="min-height: 40vh;">
			<div ng-repeat="(node_index, node) in vm.currentBroadcast.nodes" class="cards position-relative sortable-card">
				<div class="card-drag">
					<i class="ion-android-more-vertical"></i>
				</div>

				<node-text></node-text>
				<node-carousel></node-carousel>
				<node-image></node-image>
				<node-vdo></node-vdo>
				<node-audio></node-audio>
				<node-file></node-file>

			</div>
		 </div>
		<!-- end conversation -->

		<!-- card assets -->
		<div id="card-assets" class="marginTop-xl">
			<div class="fontSize-xxs fontWeight-5  marginBottom-s">
				ADD A CARD
			</div>
			<div class="display-flex boxShadow-card">
				<div ng-click="vm.addNode('text')" class="asset-item textAlign-center bg-white bg-grey-l--hover cursor-pointer borderRightWidth-1 borderStyle-solid borderColor-grey padding-s" style="flex: 1">
					<div class="asset-icon fontSize-m">
						<i class="ion-document-text"></i>
					</div>
					<div class="asset-label fontWeight-4 fontSize-xxs textTransform-uppercase">
						text
					</div>
				</div>
				<div ng-click="vm.addNode('carousel')" class="asset-item textAlign-center bg-white bg-grey-l--hover cursor-pointer borderRightWidth-1 borderStyle-solid borderColor-grey padding-s" style="flex: 1">
					<div class="asset-icon fontSize-m">
						<i class="ion-filing"></i>
					</div>
					<div class="asset-label fontWeight-4 fontSize-xxs textTransform-uppercase">
						carousel
					</div>
				</div>
				<div ng-click="vm.addNode('image')" class="asset-item textAlign-center bg-white bg-grey-l--hover cursor-pointer borderRightWidth-1 borderStyle-solid borderColor-grey padding-s" style="flex: 1">
					<div class="asset-icon fontSize-m">
						<i class="ion-image"></i>
					</div>
					<div class="asset-label fontWeight-4 fontSize-xxs textTransform-uppercase">
						image
					</div>
				</div>
				<div ng-click="vm.addNode('video')" class="asset-item textAlign-center bg-white bg-grey-l--hover cursor-pointer borderRightWidth-1 borderStyle-solid borderColor-grey padding-s" style="flex: 1">
					<div class="asset-icon fontSize-m">
						<i class="ion-ios-videocam"></i>
					</div>
					<div class="asset-label fontWeight-4 fontSize-xxs textTransform-uppercase">
						vdo
					</div>
				</div>
				<div ng-click="vm.addNode('audio')" class="asset-item textAlign-center bg-white bg-grey-l--hover cursor-pointer borderRightWidth-1 borderStyle-solid borderColor-grey padding-s" style="flex: 1">
					<div class="asset-icon fontSize-m">
						<i class="ion-music-note"></i>
					</div>
					<div class="asset-label fontWeight-4 fontSize-xxs textTransform-uppercase">
						audio
					</div>
				</div>
				<div ng-click="vm.addNode('file')" class="asset-item textAlign-center bg-white bg-grey-l--hover cursor-pointer borderRightWidth-1 borderStyle-solid borderColor-grey padding-s" style="flex: 1">
					<div class="asset-icon fontSize-m">
						<i class="ion-document-text"></i>
					</div>
					<div class="asset-label fontWeight-4 fontSize-xxs textTransform-uppercase">
						file
					</div>
				</div>
			</div>
		</div>
		<!-- end card assets -->
	</div>
</section>
<!-- end broadcast-content -->