<style>
	body {
		background-color: #333;
		overflow: hidden;
	}
	a:active,
	a:visited,
	a:focus {
		color: #fff !important;
	}
	#sidebar {
		width: 160px;
		height: 100vh;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 2;
	}

	#topbar {
		position: fixed;
		top: 0;
		left: 0;
		z-index: 10;
		background-color: #333;
		font-family: 'Lato';
	}
	#topbar .menu {
		margin-left: 30px;
	}
	#topbar .menu a {
		margin: 0 5px;
		color: rgba(255,255,255,.6);
		padding: 4px 19px;
		border-radius: 100px;
		border: 2px solid transparent;
	}
	#topbar .menu a:hover,
	#topbar .menu a:active,
	#topbar .menu a:focus,
	#topbar .menu a.active {
		border-color: #00a79c;
		color: #fff;
	}

	#bot-structure-bar,
	.sub-menu-bar {
		width: 300px;
		position: absolute;
		top: 0;
		left: 0;
		overflow-y: scroll;
		height: 100vh;
		background-color: #555;
		color: #fff;
	}

	#blocks-content {
		margin-left: 300px;
		margin-top: 60px;
	}

	.block-active {
		background-color: #0084ff;
		color: #ffffff !important;
	}

	.asset-item .asset-icon {
		color: #dddddd;
	}

	.asset-item:hover .asset-icon {
		color: #0084ff;
	}
	.add-icon {
    width: 20px;
    height: 20px;
    background-color: #0084ff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
		float: left;
		color: #fff;
	}
	.topbar-right {
		padding: 10px 0;
	}
	.topbar-right .menu-list {
		display: flex;
    justify-content: flex-end;
    align-items: center;
	}
	.topbar-right .menu-list .menu-item {
		display: inline-block;
		vertical-align: middle;
	}
	.topbar-right .menu-list .menu-item.active {
		border: 2px solid #00a79c;
	}
	.topbar-right .menu-list .menu-item:not(:last-child) {
		border-radius: 100px;
		padding: 3px 16px;
		margin-right: 15px;
	}
	.profile-dropdown {
		position: absolute;
    right: 10px;
    background: #333;
    padding: 0 10px;
    border-radius: 8px;
	}
	.profile-dropdown a.dropdown-item {
		display: block;
    text-align: left;
		width: 130px;
		color: #fff !important;
		padding: 10px 0;
	}
	.profile-dropdown a.dropdown-item:not(:last-child) {
		border-bottom: 1px solid #979797;
	}
	.profile .profile-image {
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
    width: 28px;
    height: 28px;
		border-radius: 50%;
		background-color: #ddd;
	}
	.profile div,
	.profile i {
		vertical-align: middle;
		display: inline-block
	}
	.profile { 
		cursor: pointer;
	}
	.profile div {
		margin-right: 5px;
	}

	@media screen and (max-width: 768px) {
		#sidebar {
			width: 80px;
		}
		#topbar {
			margin-left: 80px;
		}
		#bot-structure-bar,
		.sub-menu-bar {
			margin-left: 80px;
		}
		#blocks-content {
			margin-left: 380px;
		}
		.menu-item-icon {
			text-align: center;
			flex: 1;
		}
	}
</style>


<div style="margin: 20px; position: relative;" ui-view></div>

<!-- topbar -->
<section id="topbar" class="bg-white width-100 boxShadow-card">
	<div class="padding-xm display-flex c-white" style="height: 60px; align-items: center;">
		<div ui-sref="dashboard" class="bg-grey-l--hover paddingLeftRight-s marginRight-s cursor-pointer display-flex" style="height: 100%; align-items: center;">
			<i class="ion-arrow-left-c fontSize-xm "></i>
		</div>
		<span ui-sref="dashboard" class="cursor-pointer fontFamily-primary fontSize-xm">
			<!-- <img ng-src="https://www.hbot.io/assets/images/Logo.svg" style="max-height: 30px;" alt="" src="https://www.hbot.io/assets/images/Logo.svg" /><span style="
    margin-left: 5px;
    font-size: 18px;
    text-transform: uppercase;
    font-family: Arial;
    letter-spacing: 2px;
    font-weight: 500;
    float:left;
                                     ">Hbot.io</span><span style="
    font-size: 14px;
    margin-left: 3px;
    font-weight: 100;
    float:left;
">(beta)</span> -->
			<img ng-src="{{vm.logo.src}}" style="max-width: {{vm.logo.width}}px;" alt="">
		</span>
		<div class="menu width-100">
			<a ui-sref="bot.block({ bot_id: bot_id })" ui-sref-active="active" class="link link-white">BUILD</a>
			<a ui-sref="bot.ai" ui-sref-active="active" class="link link-white">SETUP AI</a>
			<a ui-sref="bot.broadcast({ bot_id: bot_id })" ui-sref-active="active"  class="link link-white">BROADCAST</a>
			<a ui-sref="bot.analytics" ui-sref-active="active" class="link link-white">ANALYTICS</a>
			<a ui-sref="bot.configure" ui-sref-active="active" class="link link-white">CONFIG</a>
			<a ui-sref="" ui-sref-active="active" href="./manual/HBOT_manual.pdf" target="_blank" class="link link-white">MANUAL</a>
		</div>
		<div class="topbar-right paddingLeftRight-s" style="width: 550px;">
			<div class="menu-list">
				<a ui-sref="dashboard" class="menu-item">Bot Portal</a>
				<div class="menu-item -profile">
					<div ng-click="isUserDropdown = !isUserDropdown;" class="profile">
						<div class="profile-image" style="background-image: url('{{ vm.profilePicUrl }}')"></div>
						<div class="profile-name">
							{{vm.user.displayName || vm.user.email || 'Anonymous'}}
						</div>
						<div class="profile-name -mobile">
							My account
						</div>
						<i class="ion-arrow-down-b"></i>
					</div>
					<div ng-show="isUserDropdown" class="profile-dropdown">
						<a ui-sref="me" class="dropdown-item">Setting</a>
						<a ng-click="vm.signout()" class="dropdown-item">Sign out</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- end topbar -->