<style>
	.card.-json {
		background-color: #ffffff;
    width: 100%;
		white-space: normal;
		min-width: 700px;
	}
</style>
<div ng-if="node.node_type === 'jsonapi'" class="card -json">
	<div  id="delete-card" class="delete" ng-click="vm.deleteNode(node, $index)">
		<i class="ion-trash-b"></i>
	</div>
	<div class="padding-xm">
		<div class="fontFamily-primary fontSize-xm marginBottom-xm">
			JSON API
		</div>
		<div class="fontSize-xs marginBottom-s">
			JSON API to connect to your web services
		</div>
		<div class="row marginBottom-xm">
			<div class="col-xs-3">
				<div class="select select-m">
					<select ng-blur="vm.saveNode(node)" ng-model="node.method">
						<option value="get">GET</option>
						<option value="post">POST</option>
					</select>
				</div>
			</div>
			<div class="col-xs-9">
				<div class="input input-full input-m textAlign-left">
					<input ng-blur="vm.saveNode(node)" ng-model="node.url" type="text" placeholder="Web URL">
				</div>
			</div>
		</div>
		<div ng-show="node.method === 'post'" class="row marginBottom-s">
			<div class="col-xs-12">
				<div class="fontSize-s fontWeight-7">
					Parameters
				</div>
			</div>
		</div>
		<div ng-show="node.method === 'post'" class="row">
			<div class="col-xs-6">
				<div style="color: #333;" class="fontSize-xxs fontWeight-7 textTransform-uppercase">
					key
				</div>
			</div>
			<div class="col-xs-6">
				<div style="color: #333;" class="fontSize-xxs fontWeight-7 textTransform-uppercase">
					value
				</div>
			</div>
		</div>
		<div ng-show="node.method === 'post'" ng-repeat="attr in node.url_param" class="row marginBottom-xm position-relative">
			<div class="delete" ng-show="node.url_param.length > 1" ng-click="node.url_param.splice($index,1); vm.saveNode(node)">
				<i class="ion-trash-b"></i>
			</div>
			<div class="col-xs-6">
				<div class="input input-m input-full textAlign-left">
					<input ng-blur="vm.saveNode(node)" ng-model="attr.key" type="text">
				</div>
			</div>
			<div class="col-xs-6">
				<div class="input input-m input-full textAlign-left">
					<textarea
						style="
						width: 100%;
						padding: 5px;
						height: 34px;
						font-size: 16px;
						border-color: #d8d8d8;
						border-radius: 5px;"
					 	ng-blur="vm.saveNode(node)" ng-model="attr.value">
					</textarea>
				</div>
			</div>
		</div>
		<div ng-show="node.method === 'post'" class="row marginBottom-xm">
			<div class="col-xs-3">
				<div ng-click="node.url_param.push({key: '', value: ''})" class="button button-primary">
					Add Attributes
				</div>
			</div>
		</div>
	</div>
</div>
