<!-- TEXT -->
<style>
	.button-block-item:not(:last-child)::after {
		content: ", ";
	}
	.button-text-overflow {
		white-space: nowrap;
		width: 19em;
		overflow: hidden;
		text-overflow: ellipsis;
	}
</style>
<div ng-class="{'activate': active.focus || active.mouseover}" ng-if="node.nodeResponse.type == 'text' && node.node_type == 'node'" ng-click="active.focus = true; active.mouseover = true;" ng-mouseleave="active.mouseover = false" class="card -text">
	<div id="delete-card" class="delete" ng-click="vm.deleteNode(node, $index)">
		<i class="ion-trash-b"></i>
	</div>
	<div class="message" style = "padding: 4px 15px;">
		<textarea class="msd-elastic" msd-elastic autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" ng-blur="active.focus = false; vm.saveNode(node);" style="resize: none; border-radius: 20px;"  rows="2" placeholder="Enter Text" ng-model="node.nodeResponse.response"></textarea>
	</div>
	<div class="buttons">
		<div ng-repeat="button in node.buttons" class="button" ng-click="vm.showEdit(node,$index)">
			<div class="delete -s" ng-click="node.buttons.splice($index,1); vm.saveNode(node);">
				<i class="ion-trash-b"></i>
			</div>
			<div class="c-primary button-text-overflow" style="position: relative;">
				{{button.title}}
			</div>
			<div ng-show="button.blocks[0]"  class="button-block-link fontSize-xxs display-inline" style="white-space: normal;">
					<span class="button-block-item" ng-repeat="block in button.blocks">
						<span class="bg-grey"> {{vm.bot.blocks['block' + block.block_id].block_name}}</span>
					</span>
			</div>
			<div class="button-block-link fontSize-xxs display-inline button-text-overflow">
					{{ button.url }}
			</div>
			<div class="button-block-link fontSize-xxs display-inline button-text-overflow">
					{{ button.phone_number }}
			</div>
			<!-- pop up edit button-->
			<div ng-show="node.panel.edit && node.panel.index === $index" class="animated zoomIn panel-add-button bg-white position-absolute textAlign-center"
					style="border: 1px solid #dddddd;
									border-radius: 5px;
									margin-top: 70px;
									width: 120%;
									left: -10%;
									z-index: 10;">
				<div class="padding-s borderBottomWidth-1 borderStyle-solid borderColor-grey">
					<input ng-model="node.buttons[node.panel.index].title" class="textAlign-center bg-foreground paddingLeftRight-s paddingTopBottom-xs borderWidth-1 borderStyle-solid borderColor-grey borderRadius-xs" type="text" placeholder="Enter button name" maxlength="20">
				</div>
				<div class="padding-s textAlign-left" style="white-space: normal;">
					<ul class="node_type">
						<li class="display-inline-block link marginRight-xs" ng-class="{'link-primary': node.buttons[node.panel.index].type == 'show_block', 'link-grey': node.buttons[node.panel.index].type != 'show_block'}" ng-click="node.buttons[node.panel.index].type = 'show_block'">Block</li>
						<li class="display-inline-block link " ng-class="{'link-primary': node.buttons[node.panel.index].type == 'web_url', 'link-grey': node.buttons[node.panel.index].type != 'web_url'}" ng-click="node.buttons[node.panel.index].type = 'web_url'; vm.tempNode.button.data = ''; vm.tempNode.button.filter = ''">URL</li>
						<li class="display-inline-block link " ng-class="{'link-primary': node.buttons[node.panel.index].type == 'phone_number', 'link-grey': node.buttons[node.panel.index].type != 'phone_number'}" ng-click="node.buttons[node.panel.index].type = 'phone_number'; vm.tempNode.button.data = ''; vm.tempNode.button.filter = ''">Phone</li>
					</ul>
					<div ng-show="node.buttons[node.panel.index].type == 'show_block'">
						<ul class="action-list marginBottom-s marginTop-s">
							<li class="action-item position-relative marginRight-xs display-inline-block bg-grey-l cursor-pointer marginBottom-s borderRadius-xs padding-xs borderStyle-solid borderColor-grey borderWidth-1"
									ng-repeat="block in node.buttons[node.panel.index].blocks">
									<div class="delete-item" ng-click="node.buttons[node.panel.index].blocks.splice($index,1); vm.saveNode(node)">
										<i class="ion-trash-b"></i>
									</div>
									{{ block.block_name }}
							</li>
						</ul>
					</div>
					<div ng-show="node.buttons[node.panel.index].type == 'show_block'" class="textAlign-center marginTop-s" style="position: relative;">
						<input ng-keyup="vm.tempNode.showSuggest = true" ng-init="vm.tempNode.button.filter = ''" ng-model="vm.tempNode.button.filter"
						class="width-100 marginTop-s bg-foreground paddingLeftRight-s paddingTopBottom-xs borderWidth-1 borderStyle-solid borderColor-grey borderRadius-xs" type="text" placeholder="Enter name">
						<ul ng-show="vm.tempNode.showSuggest && node.buttons[node.panel.index].type == 'show_block'" class="textAlign-left position-absoltue bg-white width-100 suggest-blocks borderTopWidth-1 borderLeftWidth-1 borderRightWidth-1 borderStyle-solid boxShadow-card padding-s" style="border-color: #d8d8d8; position: absolute; width: 100%;">
							<div class="fontSize-xxs fontWeight-5 padding-xs marginBottom-s ">
									<li class="cursor-pointer" ng-click="vm.tempNode.showSuggest = false;vm.tempNode.button.filter = ''" style="text-align: right">X</li>
							</div>
							<div class="fontSize-xxs fontWeight-5 padding-xs marginBottom-s">
									Buildin Blocks
									<li ng-click="node.buttons[node.panel.index].blocks.push({block_id: block.block_id, block_name: block.block_name});vm.tempNode.showSuggest = false;vm.tempNode.button.filter = ''"
											ng-repeat="block in vm.filterButton(vm.bot.blocks, vm.tempNode.button.filter)"
											ng-if="block.block_id === '0' || block.block_id === '1'"
											class="fontSize-s fontWeight-3 bg-white padding-xs cursor-pointer bg-grey--hover">
										{{block.block_name}}
									</li>
								</div>
								<div class="fontSize-xxs fontWeight-5 padding-xs">
									Blocks
									<li ng-click="node.buttons[node.panel.index].blocks.push({block_id: block.block_id, block_name: block.block_name});vm.tempNode.showSuggest = false;vm.tempNode.button.filter = ''"
											ng-repeat="block in vm.filterButton(vm.bot.blocks, vm.tempNode.button.filter)"
											ng-if="block.block_id !== '0' && block.block_id !== '1'"
											class="fontSize-s fontWeight-3 bg-white padding-xs cursor-pointer bg-grey--hover" >
										{{block.block_name}}
									</li>
								</div>
						</ul>
					</div>
					<div ng-show="node.buttons[node.panel.index].type == 'web_url'" class="display-flex" style="margin-top: 7px; align-items: center;">
						<div class="textAlign-center marginTop-s" style="position: relative;">
							<input ng-click="vm.tempNode.showSuggest = true" ng-model="node.buttons[node.panel.index].url"
							class="width-100 marginTop-s bg-foreground paddingLeftRight-s paddingTopBottom-xs borderWidth-1 borderStyle-solid borderColor-grey borderRadius-xs" type="text" placeholder="URL" style="margin-bottom: 15px;">
							<p style=" float: left;display: inline-block;">in-app browser size:</p>
							<div class="select select-s select-full borderRadius-xxs" style="display:inline-block; width: 53%;">
								<select ng-model="node.buttons[node.panel.index].webview_height_ratio">
									<option value="full">full</option>
									<option value="tall">tall</option>
									<option value="compact">compact</option>
								</select>
							</div>
						</div>
					</div>
					<div ng-show="node.buttons[node.panel.index].type == 'phone_number'" class="display-flex" style="margin-top: 7px; align-items: center;">
						<div class="textAlign-center marginTop-s input input-full width-100" style="position: relative;">
							<input ng-model="node.buttons[node.panel.index].phone_number"
							class="marginTop-s bg-foreground paddingLeftRight-s paddingTopBottom-xs borderWidth-1 borderStyle-solid borderColor-grey borderRadius-xs" type="text" placeholder="Phone Number" style="margin-bottom: 15px;text-align: left;">
						</div>
					</div>
					<div class="textAlign-right marginTop-s">
						<!--<div ng-click="vm.closePanel(node)" class="button button-grey display-inline-block borderRadius-xs marginRight-xs" style="width: 80px; padding: 5px 10px;">
							Cancel
						</div>-->
						<div ng-click="vm.editButton(node)" class="button button-primary display-inline-block borderRadius-xs;" style="width: 80px; padding: 5px 10px;">
							Edit
						</div>
					</div>
				</div>
			</div>
			<!-- end pop up edit button-->
		</div>

		<div ng-show="node.buttons.length < 3 || !node.buttons" ng-click="blocks = [];vm.showPanel(node); vm.tempNode.button.filter = ''; vm.tempNode.button.title = ''" style="border-top-left-radius: 0; border-top-right-radius: 0; border-bottom-left-radius: 20px; border-bottom-right-radius: 20px;" class="button -add position-relative">
			<div class="marginRight-s" style="color:#c1c1c1;">
				<i class="ion-plus-round"></i>
			</div>
			<div>
				Add Button
			</div>
		</div>
		<!--pop up set button-->
		<div ng-show="node.panel.show" class="animated zoomIn panel-add-button bg-white position-absolute textAlign-center"
				style="border: 1px solid #dddddd;
								border-radius: 5px;
								margin-top: -52px;
								width: 120%;
								left: -10%;
								z-index: 10;">
			<div class="padding-s borderBottomWidth-1 borderStyle-solid borderColor-grey">
				<input ng-model="vm.tempNode.button.title" class="textAlign-center bg-foreground paddingLeftRight-s paddingTopBottom-xs borderWidth-1 borderStyle-solid borderColor-grey borderRadius-xs" type="text" placeholder="Enter button name" maxlength="20">
			</div>
			<div class="padding-s textAlign-left" style="white-space: normal;">
				<ul class="node_type">
					<li class="display-inline-block link marginRight-xs" ng-class="{'link-primary': node.panel.type == 'show_block', 'link-grey': node.panel.type != 'show_block'}" ng-click="node.panel.type = 'show_block'">Block</li>
					<li class="display-inline-block link " ng-class="{'link-primary': node.panel.type == 'web_url', 'link-grey': node.panel.type != 'web_url'}" ng-click="node.panel.type = 'web_url'; vm.tempNode.button.data = ''; vm.tempNode.button.filter = ''">URL</li>
					<li class="display-inline-block link " ng-class="{'link-primary': node.panel.type == 'phone_number', 'link-grey': node.panel.type != 'phone_number'}" ng-click="node.panel.type = 'phone_number'; vm.tempNode.button.data = ''; vm.tempNode.button.filter = ''">Phone</li>
				</ul>
				<div ng-show="node.panel.type == 'show_block'">
					<ul class="action-list marginBottom-s marginTop-s">
						<li class="action-item position-relative marginRight-xs display-inline-block bg-grey-l cursor-pointer marginBottom-s borderRadius-xs padding-xs borderStyle-solid borderColor-grey borderWidth-1"
								ng-repeat="block in blocks">
								<div class="delete-item" ng-click="blocks.splice($index,1); vm.saveNode(node)">
									<i class="ion-trash-b"></i>
								</div>
								{{ block.block_name }}
						</li>
					</ul>
				</div>
				<div class="textAlign-center marginTop-s" style="position: relative;">
					<div ng-show="node.panel.type == 'show_block'">
						<input ng-keyup="vm.tempNode.showSuggest = true" ng-init="vm.tempNode.button.filter = ''" ng-model="vm.tempNode.button.filter"
						class="width-100 marginTop-s bg-foreground paddingLeftRight-s paddingTopBottom-xs borderWidth-1 borderStyle-solid borderColor-grey borderRadius-xs" type="text" placeholder="Enter name">
						<ul ng-show="vm.tempNode.showSuggest && node.panel.type == 'show_block'" class="textAlign-left position-absoltue bg-white width-100 suggest-blocks borderTopWidth-1 borderLeftWidth-1 borderRightWidth-1 borderStyle-solid boxShadow-card padding-s" style="border-color: #d8d8d8; position: absolute; width: 100%;">
							<div class="fontSize-xxs fontWeight-5 padding-xs marginBottom-s ">
									<li class="cursor-pointer" ng-click="vm.tempNode.showSuggest = false;vm.tempNode.button.filter = ''" style="text-align: right">X</li>
							</div>
							<div class="fontSize-xxs fontWeight-5 padding-xs">
									Buildin Blocks
									<li ng-click="blocks.push({block_id: block.block_id, block_name: block.block_name});vm.tempNode.showSuggest = false;vm.tempNode.button.filter = ''"
											ng-repeat="block in vm.filterButton(vm.bot.blocks, vm.tempNode.button.filter)"
											ng-if="block.block_id === '0' || block.block_id === '1'"
											class="fontSize-s fontWeight-3 bg-white padding-xs cursor-pointer bg-grey--hover">
										{{block.block_name}}
									</li>
							</div>
							<div class="fontSize-xxs fontWeight-5 padding-xs">
									Blocks
									<li ng-click="blocks.push({block_id: block.block_id, block_name: block.block_name});vm.tempNode.showSuggest = false;vm.tempNode.button.filter = ''"
											ng-repeat="block in vm.filterButton(vm.bot.blocks, vm.tempNode.button.filter)"
											ng-if="block.block_id !== '0' && block.block_id !== '1'"
											class="fontSize-s fontWeight-3 bg-white padding-xs cursor-pointer bg-grey--hover" >
										{{block.block_name}}
									</li>
							</div>
						</ul>
					</div>
				</div>
				<div ng-show="node.panel.type == 'web_url'" style="margin-top: 7px; align-items: center;">
						<input ng-keyup="vm.tempNode.showSuggest = true" ng-init="vm.tempNode.button.filter = ''" ng-model="vm.tempNode.button.filter"
						class="width-100 marginTop-s bg-foreground paddingLeftRight-s paddingTopBottom-xs borderWidth-1 borderStyle-solid borderColor-grey borderRadius-xs" type="text" placeholder="Url" style="margin-bottom: 15px;">
						<p style="display: inline-block">in-app browser size:</p>
						<div class="select select-s select-full borderRadius-xxs" style="display: inline-block;width: 52%">
							<select ng-init="webview_height_ratio = 'full'" ng-model="webview_height_ratio">
								<option value="full">full</option>
								<option value="tall">tall</option>
								<option value="compact">compact</option>
							</select>
						</div>
				</div>
				<div ng-show="node.panel.type == 'phone_number'" style="margin-top: 7px; align-items: center;">
						<input ng-init="vm.tempNode.button.filter = ''" ng-model="vm.tempNode.button.filter"
						class="width-100 marginTop-s bg-foreground paddingLeftRight-s paddingTopBottom-xs borderWidth-1 borderStyle-solid borderColor-grey borderRadius-xs" type="text" placeholder="Phone Number" style="margin-bottom: 15px;">
				</div>
				<div class="textAlign-right marginTop-s">
					<div ng-click="vm.closePanel(node)" class="button button-grey display-inline-block borderRadius-xs marginRight-xs" style="width: 80px; padding: 5px 10px;">
						Cancel
					</div>
					<div ng-click="vm.addNodeButton(node, vm.tempNode.button, blocks, webview_height_ratio)" class="button button-primary display-inline-block borderRadius-xs" style="width: 80px; padding: 5px 10px;">
						Save
					</div>
				</div>
			</div>
		</div>
		<!--end pop up set button-->


	</div>
</div>
<!-- END TEXT -->
