<style>
	.card.-gotoblock {
		background-color: #ffffff;
    width: 100%;
		white-space: normal;
	}
	.select.-disabled {
		color: #eee;
		background-color: #bdbdbd;
	}
	.action-item > .delete-item {
		position: absolute;
		display: none;
    top: -11px;
    right: -9px;
    font-size: 18px;
    background: #e8e8e8;
    width: 25px;
    height: 25px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid #ddd;
		color: #aaa;
	}
	.action-item:hover > .delete-item {
		display: flex;
	}
	.action-item > .delete-item:hover i {
		color: #000000;
	}
</style>

<div ng-show="node.node_type === 'gotoblock'" class="card -gotoblock">
	<div  id="delete-card" class="delete" ng-click="vm.deleteNode(node, $index)">
		<i class="ion-trash-b"></i>
	</div>
	<div class="padding-xm">
		<div class="fontSize-xm fontFamily-primary">Go to block</div>
		<div class="fontSize-xs">
			Let you arrange your conversation flow by redirect user to the block you specified.
		</div>
		<div class="row marginTop-xm position-relative" ng-repeat="condition in node.directions[0].conditions">
			<div id="delete-card" class="delete" ng-show="$index!=0" ng-click="node.directions[0].conditions.splice($index,1); vm.saveNode(node)">
				<i class="ion-trash-b"></i>
			</div>
			<div class="col-xs-2">
				<div ng-show="$index == 0" class="select select-m select-full select-disabled">
					<select disabled>
						<option value="if" disabled selected>IF</option>
						<option value="and">AND</option>
						<option value="or">OR</option>
					</select>
				</div>
				<div ng-show="$index !== 0" class="select select-m select-full">
					<select ng-blur="vm.saveNode(node)" ng-model="condition.connection">
						<option value="and">AND</option>
						<option value="or">OR</option>
					</select>
				</div>
			</div>
			<div class="col-xs-4">
				<div class="input input-full textAlign-left">
					<textarea
					placeholder="Attribute"
					style="
					width: 100%;
					height: 34px;
					padding: 5px;
					font-size: 16px;
					border-color: #d8d8d8;
					border-radius: 5px;"
					ng-blur="vm.genAttrBracket(condition,'gotoblock'); vm.saveNode(node)" ng-model="condition.first_var">
					</textarea>
				</div>
			</div>
			<div class="col-xs-2">
				<div class="select select-m select-full">
					<select ng-blur="vm.saveNode(node)" ng-model="condition.operation">
						<option value="=">is</option>
						<option value="!=">is not</option>
						<option value=">">></option>
						<option value="<"><</option>
						<option value=">=">>=</option>
						<option value="<="><=</option>
						<option value="contain">contain</option>
						<option value="in">in</option>
					</select>
				</div>
			</div>
			<div class="col-xs-4">
				<div class="input input-full textAlign-left">
					<input placeholder = "Value" ng-blur="vm.saveNode(node)" type="text" ng-model="condition.second_var">
				</div>
			</div>
		</div>
		<div class="row marginTop-xm position-relative">
			<div class="col-xs-3">
				<div ng-click="node.directions[0].conditions.push({ connection: 'and', first_var: '', second_var: '', operation: '' })" class="button button-primary">
					<i class="ion-plus-round"></i> ADD FILTER
				</div>
			</div>
		</div>
		<div class="row marginTop-xm position-relative">
			<div class="col-xs-12">
				<div class="fontSize-xss textTransform-uppercase">
					THEN REDIRECT TO BLOCK <span class="c-danger">*</span>
				</div>
				<ul class="action-list marginBottom-s marginTop-s">
					<li class="action-item position-relative marginRight-xs display-inline-block bg-grey-l cursor-pointer marginBottom-s borderRadius-xs padding-s borderStyle-solid borderColor-grey borderWidth-1"
							ng-repeat="block in node.directions[0].blocks">
							<div class="delete-item" ng-click="vm.deleteBlockGotoBlock(node,$index)">
								<i class="ion-trash-b"></i>
							</div>
							{{ block.block_select_name }}
					</li>
				</ul>
				<div class="input input-full textAlign-left">
					<input type="text" ng-model="node.directions[0].block.block_name" ng-change="node.directions[0].block.selected = false">
				</div>
				<div ng-show="node.directions[0].block.block_name.length > 0 && node.directions[0].block.selected == false" class="animated fadeIn panel-add-button position-absolute textAlign-center"
				style="border: 1px solid #dddddd;
								border-radius: 5px;
								width: 120%;
								left: 15px;
								max-width: 400px;
								z-index: 10;">
					<div class="textAlign-left">
						<div class="textAlign-center">
							<ul class="textAlign-left position-absoltue bg-white width-100 suggest-blocks borderTopWidth-1 borderLeftWidth-1 borderRightWidth-1 borderStyle-solid boxShadow-card padding-s" style="border-color: #d8d8d8">
								<div class="fontSize-xxs fontWeight-5 padding-xs marginBottom-s">
									Buildin Blocks
									<li
										ng-click="vm.saveGotoBlock(node,block)"
										ng-repeat="block in vm.filterButton(vm.bot.blocks, node.directions[0].block.block_name)"
										ng-if="block.block_id === '0' || block.block_id === '1'"
										class="fontSize-s fontWeight-3 bg-white padding-xs cursor-pointer bg-grey--hover">
										{{block.block_name}}
									</li>
								</div>
								<div class="fontSize-xxs fontWeight-5 padding-xs">
									Blocks
									<li
										ng-click="vm.saveGotoBlock(node,block)"
										ng-repeat="block in vm.filterButton(vm.bot.blocks, node.directions[0].block.block_name)"
										ng-if="block.block_id !== '0' && block.block_id !== '1'"
										class="fontSize-s fontWeight-3 bg-white padding-xs cursor-pointer bg-grey--hover" >
										{{block.block_name}}
									</li>
								</div>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
