<style>
	body {
		background-color: #555;
		font-family: 'Lato';
		color: #fff;
	}
	a:active,
	a:visited,
	a:focus {
		color: #fff !important;
	}
	.topbar {
		background-color: #333333;
		z-index: 2;
		position: relative;
	}
	.topbar-container {
		margin: 0 auto;
		width: 90vw;
	}
	.topbar-brand,
	.topbar-right {
		padding: 10px 0;
	}
	.topbar-right .menu-list {
		display: flex;
		justify-content: flex-end;
		align-items: center;
	}
	.topbar-right .menu-list .menu-item {
		display: inline-block;
		vertical-align: middle;
	}
	.topbar-right .menu-list .menu-item.active {
		border: 2px solid #00a79c;
	}
	.topbar-right .menu-list .menu-item:not(:last-child) {
		border-radius: 100px;
		padding: 3px 16px;
		margin-right: 15px;
	}

	.profile-dropdown {
		position: absolute;
		right: 10px;
		background: #333;
		padding: 0 10px;
		border-radius: 8px;
	}
	.profile-dropdown a.dropdown-item {
		display: block;
		text-align: left;
		width: 130px;
		color: #fff !important;
		padding: 10px 0;
	}
	.profile-dropdown a.dropdown-item:not(:last-child) {
		border-bottom: 1px solid #979797;
	}
	.profile .profile-image {
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		width: 28px;
		height: 28px;
		border-radius: 50%;
		background-color: #ddd;
	}
	.profile div,
	.profile i {
		vertical-align: middle;
		display: inline-block
	}
	.profile { 
		cursor: pointer;
	}
	.profile div {
		margin-right: 5px;
	}

	.content .menu-content {
		background-color: #444;
		height: 100vh;
		position: fixed;
		top: 0;
		left: 0;
		margin-top: 50px;
		padding-top: 60px;
		padding-left: 5vw;
		padding-right: 3vw;
		width: 20vw;
		box-sizing: border-box;
		z-index: 1;
	}
	.menu-content .sidebar-item {
		font-size: 16px;
		padding: 7px 10px;
		color: #fff;
		text-transform: capitalize;
	}
	.content .bot-content {
		width: 79vw;
		margin-left: 20vw;
		padding-right: 5vw;
	}
	.content .bot-content .wrapper {
		padding: 55px 0 0 45px;
	}
	.content .bot-content .search-button {
		position: absolute;
		right: 0;
		top: 0;
		font-size: 32px;
		max-width: 45px;
		height: 45px;
		border: 2px solid #fff;
		text-align: center;
		border-radius: 100px;
		transition: all .5s cubic-bezier(0.65, 0.05, 0.36, 1);
		width: 100%;
	}
	.content .bot-content .search-button input,
	.content .bot-content .search-button i:last-child  {
		display: none;
	}
	.content .bot-content .search-button.-active {
		text-align: left;
		display: inline-block;
		padding-left: 15px;
		background-color: #555;
		max-width: 100%;
	}
	.content .bot-content .search-button i,
	.content .bot-content .search-button.-active i:last-child {
		display: inline-block;
		margin-top: -3px;
		vertical-align: top;
	}
	.content .bot-content .search-button.-active i:last-child {
		position: absolute;
		right: 23px;
		font-size: 47px;
		top: 0;
		line-height: 1;
	}
	.content .bot-content .search-button.-active input {
		vertical-align: 8px;
		display: inline-block;
		font-size: 22px;
		background: transparent;
		border: none;
		position: absolute;
		left: 0;
		width: 100%;
		padding: 5px 50px;
	}
	.content .bot-content .bot-item {
		padding: 14px;
		height: 120px;
		position: relative;
		color: #333333;
		border-radius: 5px;
	}
	.content .bot-content .bot-item.-add {
		display: flex;
		justify-content: center;
		align-items: center;
		color: #fff;
		flex-direction: column;
	}
	.content .bot-content .bot-item.-add:before {
		display: none;
	}
	.content .bot-content .bot-item.-add .add-icon {
		font-size: 30px;
	}
	.content .bot-content .bot-item.-add.-messenger {
		background-color: #0183ff;
	}
	.content .bot-content .bot-item:before {
		position: absolute;
		top: 10%;
		z-index: -1;
		width: 90%;
		height: 90%;
		left: 5%;
		content: '';
		display: block;
		box-shadow: 0px 3px 20px rgba(255,255,255,.5);
	}
	.content .bot-content .bot-item .bot-item-image {
		width: 34px;
		height: 34px;
		border-radius: 50%;
		background-color: #0183ff;
		margin-bottom: 5px;
	}
	.content .bot-content .bot-item .bot-item-name {
		font-weight: 700;
		font-size: 17px;
	}
	.content .bot-content .bot-item .bot-item-description {
		color: #979797;
		font-size: 12px;
	}
	.content .bot-content .bot-item .bot-item-bottom {
		position: absolute;
		bottom: 14px;
	}
	.button-messenger {
		background-color: #0183ff;
		border-radius: 6px;
		padding: 7px 20px;
		color: #fff;
		border-color: transparent;
	}
</style>


<div class="topbar">
	<div class="topbar-container">
		<div class="row">
			<div class="col-xs-6">
				<div class="topbar-brand">
					<div ui-sref="dashboard" class="cursor-pointer fontFamily-primary fontSize-xm position-relative">
						<img ng-src="{{vm.logo.src}}" style="max-width: {{vm.logo.width}}px;" alt="">
					</div>
				</div>
			</div>
			<div class="col-xs-6 textAlign-right">
				<div class="topbar-right">
					<div class="menu-list">
						<a ui-sref="dashboard" class="menu-item active">Bot Portal</a>
						<div class="menu-item -profile">
							<div ng-click="isUserDropdown = !isUserDropdown;" class="profile">
								<div class="profile-image" style="background-image: url('{{ vm.profilePicUrl }}')"></div>
								<div class="profile-name">
									{{vm.user.displayName || vm.user.email || 'Anonymous'}}
								</div>
								<i class="ion-arrow-down-b"></i>
							</div>
							<div ng-show="isUserDropdown" class="profile-dropdown">
								<a ui-sref="me" class="dropdown-item">Setting</a>
								<a ng-click="vm.signout()" class="dropdown-item">Sign out</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<div class="content">
	<div class="menu-content">
		<div class="sidebar-list">
			<a href="#" class="sidebar-item -all active">
				<div class="sidebar-icon -circle">
					<i class="ion-gear-b"></i>
				</div>
				<div class="sidebar-label">
					<span>User settings</span>
				</div>
			</a>
		</div>
	</div>
	<div class="bot-content">
		<div class="wrapper">
			<div class="row marginBottom-xm">
				<div class="col-xs-12">
					<div class="paddingLeftRight-xm">
						<div class="marginBottom-xm  borderBottomWidth-1 borderStyle-solid paddingBottom-l" style="border-color: #555;">
							<div class="fontSize-m">
								Connect Facebook
							</div>
							<div ng-click="vm.linkFacebook()" class="display-inline-block button-hbot marginTop-xm" ng-show="!vm.fbLoginStatus">
								Connect to facebook
							</div>
							<div style="color: #888;" class="textTransform-uppercase fontSize-xxs marginTop-xm" ng-show="vm.fbLoginStatus" >
								Connected to {{vm.fbName}}
							</div>
							<div ng-click="vm.unlinkFacebook()" class="button-hbot display-inline-block marginTop-xm" ng-show="vm.fbLoginStatus">
								Disconnect from facebook
							</div>
						</div>
						<div class="fontSize-m">
							Change Password
						</div>
						<div class="input-group marginTop-xm">
							<div class="input-hbot" style="margin-bottom: 0;">
								<input ng-model="vm.newPassword" type="text" ng-required>
								<label>New Password</label>
							</div>
							<div ng-click="vm.updatePassword(vm.newPassword)" class="button-hbot display-inline-block marginTop-xm">
								Update password
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
</div>
