<div class="wrapper">
	<div class="fontSize-xl textTransform-uppercase fontWeight-7">
		Forget Password
	</div>
	<form ng-submit="vm.forgetPassword(user)" class="form marginTop-xm">
		<div class="input-hbot">
			<input ng-model="user.email" type="text" ng-required>
			<label>Email</label>
		</div>
		<input type="submit" value="Reset" class="button-hbot">
	</form>
	<div ng-show="vm.errorMessage" class="error-message marginTop-s marginBottom-s animated fadeIn fontSize-xxs c-danger">
		<i class="ion-alert-circled marginRight-s"></i> {{ vm.errorMessage }}
	</div>
</div>