<style>
  body {
    background-color: #555;
    color: #fff;
    font-family: 'Lato';
  }
  .auth-menu {
    padding-top: 15vh;
    position: fixed;
    top: 0;
    left: 0;
    width: 40vw;
    background-color: #333;
    display: inline-block;
    height: 120vh;
    padding-left: 10vw;
    vertical-align: top;		
  }
  .auth-content {
    display: inline-block;
    padding-top: 15vh;
    vertical-align: top;
    width: 59.6vw;
    margin-left: 40vw;
  }
  .bot .bot-image {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    display: inline-block;
    vertical-align: top;
    margin-top: 12px;
    margin-right: 5px;
    background-color: #00beae;
    background-position: center;
    background-size: cover;
  }
  .bot .bot-message {
    background-color: #555;
    border-radius: 8px;
    padding: 13px 26px;
    display: inline-block;
    position: relative;
    animation-delay: .2s;
  }
  .bot .bot-message:before {
    content: '';
    width: 9px;
    background: #555;
    height: 9px;
    display: block;
    top: 30px;
    left: -3px;
    position: absolute;
    transform: rotate(45deg);
  }
  .bot .bot-message .bot-timestamp {
    position: absolute;
    right: 0;
    top: 90px;
    font-size: 13px;
    color: #fff;
    opacity: 0.45;
    font-weight: 300;
  }
  .auth-menu .menu-list {
    margin-top: 60px;
    margin-left: 55px;
    margin-right: 120px;
    text-align: center;
    animation-delay: .5s;
  }
  .auth-menu .menu-list a.menu-item {
    display: inline-block;
    padding: 12px 20px;
    border-radius: 100px;
    text-align: center;
    color: #fff;
    font-weight: 700;
    min-width: 100px;
    text-transform: capitalize;
  }
  .auth-menu .menu-list a.menu-item.active {
    border: solid 2px #00beae;
  }
  .auth-menu .menu-list a.menu-item:not(:last-child) {
    margin-right: 10px;
  }
  .auth-content .wrapper {
    width: 80%;
    max-width: 440px;
    margin: 0 auto;
  }
  .split-line {
    position: relative;
  }
  .split-line:before {
    background-color: #e0e0e0;
    height: 1px;
    display: block;
    width: 100%;
    content: '';
  }
  .split-line-text {
    background-color: #555;
    margin-top: -15px;
    display: table;
    padding: 3px 15px;
    margin: -14px auto;
  }
  .button-social {
    border-radius: 8px;
    padding: 0px 50px;
    font-size: 30px;
    display: inline-block;
    background-color: #ffffff;
  }
  .button-social.-facebook {
    color: #324d8f;
  }
</style>

<div class="auth-page-signin">
  <div class="auth-menu">
    <div class="bot">
      <div class="bot-image  bounceIn" style="background-image: url('./assets/images/robot.png')">
      </div>
      <div class="bot-message  fadeInUp">
        <div class="fontSize-m fontWeight-7">
          WELCOME
        </div>
        <div class="fontSize-s fontWeight-1">
          How may I assist you? ... 
        </div>
        <div class="bot-timestamp">
          {{ vm.now | date: 'HH:mm' }}
        </div>
      </div>
    </div>
    <div class="menu-list fadeIn">
      <!--<a ui-sref="auth.signin" ui-sref-active="active" class="menu-item">Sign In</a>
      <a ui-sref="auth.signup" ui-sref-active="active" class="menu-item">Register</a>-->
    </div>
  </div>
  <div class="auth-content">
    <div class="animated fadeIn">
      <div class="wrapper">
        <div class="fontSize-xl textTransform-uppercase fontWeight-7">
          Reset Password
        </div>
        <form ng-submit="vm.resetPassword(user)" class="form marginTop-xm">
          <div class="input-hbot">
            <input ng-model="user.password" type="password" ng-required>
            <label>New Password</label>
          </div>
          <input type="submit" value="Update Password" class="button-hbot">
        </form>
        <div ng-show="vm.errorMessage" class="error-message marginTop-s marginBottom-s animated fadeIn fontSize-xxs c-danger">
          <i class="ion-alert-circled marginRight-s"></i> {{ vm.errorMessage }}
        </div>
      </div>
    </div>
  </div>
</div>

