<div class="wrapper">
	<div class="fontSize-xxl textTransform-uppercase fontWeight-7">
		Register
	</div>
	<form ng-submit="vm.signup(user)" class="form marginTop-xm">
		<div class="input-hbot">
			<input ng-model="user.name" type="text" ng-required>
			<label>Name</label>
		</div>
		<div class="input-hbot">
			<input ng-model="user.email" type="text" ng-required>
			<label>Email</label>
		</div>
		<div class="input-hbot">
			<input ng-model="user.password" type="password" ng-minlength="6" ng-required>
			<label>Password</label>
		</div>
		<div class="auth-buttons">
			<div class="auth-detail">
				Already have an account? <a ui-sref="auth.signin" ui-sref-active="active" class="link link-white textDecoration-underline">Sign In</a>
			</div>
			<div class="auth-button">
				<input type="submit" value="Sign Up" class="button-hbot">
			</div>
		</div>
	</form>
	<div ng-show="vm.errorMessage" class="error-message marginTop-s marginBottom-s animated fadeIn fontSize-xxs c-danger">
		<i class="ion-alert-circled marginRight-s"></i> {{ vm.errorMessage }}
	</div>

	<div class="auth-credit">
			<div class="auth-credit-wrap">
				<hr style="width: 70%; border-top: 1px solid #999;">
				<div class="marginTop-s fontFamily-thonburi fontSize-xs fontWeight-1">
						When you signed in it means that you agreed to Hbot’s Terms
						& Condition and Privacy Policies
				</div>
			</div>
		</div>
</div>

