<style>
	.login-button {
		padding: 7px 15px;
		width: 100%;
		border-radius: 9.5px;
  box-shadow: 0 0.5px 1.5px 0 #bfbfbf;
  background-image: linear-gradient(262deg, #2996ff, #454dff);
	}
</style>
<div class="wrapper">
	<div class="fontSize-xxl textTransform-uppercase fontWeight-7">
		Sign in
	</div>
	<form ng-submit="vm.signin(user)" class="form marginTop-xm">
		<div class="input-hbot">
			<input ng-model="user.email" type="text" ng-required>
			<label>Email</label>
		</div>
		<div class="input-hbot">
			<input ng-model="user.password" type="password" ng-minlength="6" ng-required>
			<label>Password</label>
		</div>
		<div class="auth-buttons">
			<div class="auth-detail">
				Not have an account? <a ui-sref="auth.signup" ui-sref-active="active" class="link link-white textDecoration-underline">Register</a>
			</div>
<!-- 			<div class="auth-detail" ng-if="vm.enableSID != 'false'">
				Not have an account? <a ng-if="!vm.isSID" href="https://sid.hbot.io/#/auth/signup" class="link link-white textDecoration-underline">Register</a><a ng-if="vm.isSID" ui-sref="auth.signup" ui-sref-active="active" class="link link-white textDecoration-underline">Register</a>
			</div> -->
			<div class="auth-button">
				<input type="submit" class="login-button" value="Sign In" class="button-hbot">
			</div>
		</div>
	</form>
	<div ng-show="vm.errorMessage" class="error-message marginTop-s marginBottom-s animated fadeIn fontSize-xxs c-danger">
		<i class="ion-alert-circled marginRight-s"></i> {{ vm.errorMessage }}
	</div>

	<div class="auth-credit">
		<div class="auth-credit-wrap">
			<a href="#/auth/forgetPassword" class="marginBottom-s link link-white textDecoration-underline fontSize-s">Forget password?</a>
			<hr style="width: 70%; border-top: 1px solid #999;">
			<div class="marginTop-s fontFamily-thonburi fontSize-xs fontWeight-1">
					When you signed in it means that you agreed to Hbot’s Terms
					& Condition and Privacy Policies
			</div>
		</div>
	</div>
</div>