<style>
  html,
  body>div.animated,
  body>div.animated>div.auth-page-signin,
  .auth-content,
  .auth-content>div {
    height: 100%;
  }

  body {
    background-color: #555;
    color: #fff;
    font-family: 'Lato';
    height: 100%;
  }

  .auth-menu {
    padding-top: 15vh;
    position: fixed;
    top: 0;
    left: 0;
    width: 40vw;
    background-color: #333;
    display: inline-block;
    height: 120vh;
    padding-left: 10vw;
    vertical-align: top;
  }

  .bot .bot-image {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    display: inline-block;
    vertical-align: top;
    margin-top: 12px;
    margin-right: 5px;
    background-color: #00beae;
    background-position: center;
    background-size: cover;
  }

  .bot .bot-message {
    background-color: #555;
    border-radius: 8px;
    padding: 13px 26px;
    display: inline-block;
    position: relative;
    animation-delay: .2s;
  }

  .bot .bot-message:before {
    content: '';
    width: 9px;
    background: #555;
    height: 9px;
    display: block;
    top: 30px;
    left: -3px;
    position: absolute;
    transform: rotate(45deg);
  }

  .bot .bot-message .bot-timestamp {
    position: absolute;
    right: 0;
    top: 90px;
    font-size: 13px;
    color: #fff;
    opacity: 0.45;
    font-weight: 300;
  }

  .auth-content>div {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .auth-content .wrapper {
    width: 80%;
    max-width: 440px;
    margin: 0 auto;
    height: 70vh;
    position: relative;
  }


  .auth-topbar {
    text-align: center;
    padding: 40px 0;
    background-color: #333333;
    z-index: 100;
    position: relative;
  }

  .auth-buttons {
    display: flex;
    align-items: center;
  }

  .auth-buttons div:last-child {
    margin: 0 0 0 auto;
  }

  .auth-credit {
    position: absolute;
    bottom: 30px;
    width: 100%;
    text-align: center;
  }

  .auth-credit-wrapper {
    max-width: 400px;
  }
</style>

<div class="auth-page-signin">
  <div class="auth-topbar">
    <img ng-src="{{vm.logo.src}}" style="max-width: {{vm.logo.width}}px;" alt="">
  </div>
  <div class="auth-content textAlign-center">
    <div class="animated fadeIn">
      <div class="wrapper">
        <div class="fontSize-xl textTransform-uppercase fontWeight-7">
          PLEASE VERIFIY</br>YOUR EMAIL
        </div>
        <div class="fontSize-s fontWeight-1 marginTop-xm">
          Verification email has been sent!
        </div>
        <div ui-sref="dashboard" class="button-hbot c-white marginTop-xm marginBottom-xm">
          Verified? Go to dashboard
        </div>
        <div ng-click="vm.resendEmail()" class="cursor-pointer link textDecoration-underline marginTop-m">
          Resend verification email
        </div>
        <div ng-click="vm.signOut()" class="cursor-pointer link textDecoration-underline marginTop-s">
          Sign out
        </div>
        <div class="auth-credit">
          <div class="auth-credit-wrap">
            <hr style="width: 70%; border-top: 1px solid #999;">
            <div class="marginTop-s fontFamily-thonburi fontSize-xs fontWeight-1">
              When you signed in it means that you agreed to Hbot’s Terms & Condition and Privacy Policies
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>