<div ng-show="vm.messages.length > 0" class="animated fadeIn alert-hbot">
  <div class="alert-messages">
    <div  ng-repeat="message in vm.messages track by $index" class="animated fadeInUp alert-message">
      {{ message }}
    </div>
  </div>
  <div class="alert-avatar" style="background-image: url('./assets/images/robot.png');"></div>
</div>