<div ng-if="node.node_type == 'email'" class="card -default -email">
	<div id="delete-card" class="delete" ng-click="vm.deleteNode(node, $index)">
		<i class="ion-trash-b"></i>
	</div>
	<div class="padding-xm">
		<div class="fontSize-xm fontFamily-primary">
			Send email
		</div>
		<div class="row marginTop-xm position-relative">
      <div class="col-xs-4">
				<div class="fontSize-xs textTransform-uppercase">
					IP <span class="c-danger">*</span>
				</div>
				<div class="input input-full textAlign-left">
					<input type="text" ng-blur="vm.saveNode(node)" ng-model="node.email_smtp_host" placeholder="Your mail server's IP">
				</div>
      </div>
      <div class="col-xs-4">
				<div class="fontSize-xs textTransform-uppercase">
					Port <span class="c-danger">*</span>
				</div>
				<div class="input input-full textAlign-left">
					<input type="text" ng-blur="vm.saveNode(node)" ng-model="node.email_smtp_port" placeholder="Port">
				</div>
      </div>
			<div class="col-xs-4">
				<div class="fontSize-xs textTransform-uppercase">
					SSL <span class="c-danger">*</span>
				</div>
				<div class="select select-m select-full">
					<select ng-blur="vm.saveNode(node)" ng-model="node.email_smtp_ssl" ng-options="option as option for option in [true, false]">
					</select>
				</div>
      </div>
    </div>
		<div class="row marginTop-xm position-relative">
      <div class="col-xs-6">
				<div class="fontSize-xs textTransform-uppercase">
					Username <span class="c-danger">*</span>
				</div>
				<div class="input input-full textAlign-left">
					<input type="text" ng-blur="vm.saveNode(node)" ng-model="node.email_username" placeholder="Email username">
				</div>
      </div>
      <div class="col-xs-6">
				<div class="fontSize-xs textTransform-uppercase">
					Password <span class="c-danger">*</span>
				</div>
				<div class="input input-full textAlign-left">
					<input type="password" ng-blur="vm.saveNode(node)" ng-model="node.email_password" placeholder="Your email's password">
				</div>
      </div>
    </div>
		<div class="row marginTop-xm position-relative">
			<div class="col-xs-6">
				<div class="fontSize-xs textTransform-uppercase">
					Title <span class="c-danger">*</span>
				</div>
				<div class="input input-full textAlign-left">
					<input type="text" ng-blur="vm.saveNode(node)" ng-model="node.email_subject" placeholder="Email title">
				</div>
			</div>
			<div class="col-xs-6">
				<div class="fontSize-xs textTransform-uppercase">
					Email addresses <span class="c-danger">*</span>
				</div>
				<div class="input input-full textAlign-left">
					<input type="text" ng-blur="vm.saveNode(node)" ng-model="node.email_to" placeholder="Comma-separated for multiple emails">
				</div>
			</div>
		</div>
    <div class="row marginTop-xm">
      <div class="col-xs-8">
				<div class="fontSize-xs textTransform-uppercase lh-2">
					Body <span class="c-danger">*</span>
				</div>
      </div>
      <div class="col-xs-4">
        <div class="select select-m select-full">
          <select ng-blur="vm.saveNode(node)" ng-model="node.email_body_type">
						<option value="text">Text</option>
						<option value="html">HTML</option>
					</select>
        </div>
      </div>
    </div>
    <div class="row marginTop-s">
      <div class="col-xs-12">
				<div class="input input-full textAlign-left">
					<textarea class="msd-elastic" ng-blur="vm.saveNode(node)" style="resize: none;"  rows="4" placeholder="Content of email included any attributes in the bot." ng-model="node.email_body"></textarea>
				</div>
      </div>
    </div>
	</div>
</div>