<div ng-if="node.nodeResponse.type == 'location'" class="cards">
	<div class="card -typing bg-white padding-xm">
		<div  id="delete-card" class="delete" ng-click="vm.deleteNode(node, $index)">
			<i class="ion-trash-b"></i>
		</div>
		<div class="fontFamily-primary fontSize-xm">
			Share Location
		</div>
		<div class="fontFamily-primary marginTop-s fontSize-xs fontWeight-3" style="white-space: initial;">
		  This card send user the quickreply for location sharing. After user share their location, lat and long attributes is available.
		</div>
	</div>
</div>