<style>
	.card.-typing {
		width: 500px;
	}
</style>
<div ng-if="node.nodeResponse.type == 'typing'" class="cards">
	<div class="card -typing bg-white padding-xm">
		<div  id="delete-card" class="delete" ng-click="vm.deleteNode(node, $index)">
			<i class="ion-trash-b"></i>
		</div>
		<div class="fontFamily-primary">
			Typing for <input class="textAlign-center" type="text" placeholder="seconds"  ng-model="node.delaytime" ng-change="vm.saveNode(node)" style="width: 30px"> s
		</div>
		<rzslider
		ng-init="node.delaytime"
		rz-slider-model="node.delaytime"
		rz-slider-options="vm.typingOption(node)"
		></rzslider>
	</div>
</div>