<style>
	.cards .card.-gallery {
		min-height: 300px;
    margin-right: 20px;
    vertical-align: top;
    display: inline-block;
    vertical-align: top;
		float: none !important;
		border-radius: 20px;
	}
	.cards .card.-gallery.-gallery-add .add-icon-carousel {
		display: flex;
		justify-content: center;
    align-items: center;
    height: 300px;
	}
	.cards .card.-gallery textarea,
	.cards .card.-gallery input {
		display: block;
	}
	.cards .card.-gallery .carousel-drag {
		position: absolute;
    top: -35px;
    left: 0;
    font-size: 35px;
		display: none;
		color: #bbb;
		width: 100%;
	}
	.cards .card.-gallery .carousel-drag:hover {
		color: #333;
	}
	.card.-gallery:hover .carousel-drag {
		display: block;
	}
	.button-block-item:not(:last-child)::after {
		content: ", ";
	}
	.button-text-overflow {
		white-space: nowrap;
		width: 19em;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	.carousel-image-upload {
		display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
	}
	.carousel-length{
	  font-size: 12px;
	  opacity: 0.6;
	  position: relative;
	  left: 220px;
	}
	.clearfix{
	  clear: both;
	}
	.gallery-image:hover .carousel-image-upload {
		opacity: 1 !important;
	}
</style>

<div ng-if="node.nodeResponse.type == 'carousel'" class="cards">
	<div ui-sortable="vm.sortableCarousel" ng-model="node.nodeResponse.response" class="position-relative">
		<div ng-repeat="carousel in node.nodeResponse.response" class="card -gallery sortable-carousel position-relative">
			<div class="carousel-drag">
				<i class="ion-android-more-horizontal"></i>
			</div>
			<div  id="delete-card" class="delete" ng-click="vm.deleteCarousel(node, $index, node_index)">
				<i class="ion-trash-b"></i>
			</div>
			<div class="gallery-item">

			<div class="gallery-image position-relative" style="background-position: center; background-size: cover; background-image: url('{{carousel.image_url}}')">
				<i ng-show="carousel.image_url === true" class="ion-load-c fontSize-l rotating"></i>
				<div ng-class="{'opac-0': carousel.image_url}" class="carousel-image-upload">
					<input type="file" ngf-accept="'image/*'" ngf-select="vm.uploadCarousel($file, node, carousel, $index)" style="
						width: 100%;
						height: 100%;
						position: absolute;
						opacity: 0;
						cursor: pointer;" />
					<i class="ion-camera fontSize-l"></i>
					Upload Image
				</div>
			</div>

			<div class="gallery-content">
					<textarea class="msd-elastic" ng-blur="vm.saveNode(node)" rows="2" placeholder="Heading (required)" ng-model="carousel.title" style="display: block; resize: none;"></textarea>
					<textarea class="msd-elastic fontSize-xxs" ng-blur="vm.saveNode(node)" rows="2" placeholder="Subtitle" ng-model="carousel.subtitle" style="display: block; resize: none;" ></textarea>
					<div class = "carousel-length">{{carousel.subtitle.length}}</div>
			</div>
			</div>
			<div class="buttons">
				<div ng-repeat="button in carousel.buttons" class="button" ng-click="vm.showEditCarouselButton(carousel, $index)">
					<div class="delete -s" ng-click="carousel.buttons.splice($index, 1); vm.nodes.$save(node);">
						<i class="ion-trash-b"></i>
					</div>
					<div class="c-primary button-text-overflow" style=" position: relative;">
						{{button.title}}
					</div>
					<div ng-show="button.blocks[0]"  class="button-block-link fontSize-xxs display-inline" style="white-space: normal;">
							<span class="button-block-item " ng-repeat="block in button.blocks">
								<span class="bg-grey">{{vm.bot.blocks['block' + block.block_id].block_name}}</span>
							</span>
					</div>
					<div class="button-block-link fontSize-xxs display-inline button-text-overflow">
							{{ button.url }}
					</div>
					<div class="button-block-link fontSize-xxs display-inline button-text-overflow">
							{{ button.phone_number }}
					</div>
					<!-- edit pop up -->
						<div ng-show="carousel.panel.edit && carousel.panel.index === $index" class="animated zoomIn panel-add-button bg-white position-absolute textAlign-center"
								style="border: 1px solid #dddddd;
												border-radius: 5px;
												width: 120%;
												left: -10%;
												z-index: 10;
												margin-top: 90px;">
							<div class="padding-s borderBottomWidth-1 borderStyle-solid borderColor-grey">
								<input ng-model="carousel.buttons[carousel.panel.index].title" class="centered textAlign-center bg-foreground paddingLeftRight-s paddingTopBottom-xs borderWidth-1 borderStyle-solid borderColor-grey borderRadius-xs" type="text" placeholder="Enter button name" maxlength="20">
							</div>
							<div class="padding-s textAlign-left" style="white-space: normal;">
								<ul class="node_type">
									<li class="display-inline-block link marginRight-xs" ng-class="{'link-primary': carousel.buttons[carousel.panel.index].type == 'show_block', 'link-grey': carousel.buttons[carousel.panel.index].type != 'show_block'}" ng-click="carousel.buttons[carousel.panel.index].type = 'show_block'">Block</li>
									<li class="display-inline-block link " ng-class="{'link-primary': carousel.buttons[carousel.panel.index].type == 'web_url', 'link-grey': carousel.buttons[carousel.panel.index].type != 'web_url'}" ng-click="carousel.buttons[carousel.panel.index].type = 'web_url'; vm.tempNode.button.data = ''; vm.tempNode.button.filter = ''">URL</li>
									<li class="display-inline-block link " ng-class="{'link-primary': carousel.buttons[carousel.panel.index].type == 'phone_number', 'link-grey': carousel.buttons[carousel.panel.index].type != 'phone_number'}" ng-click="carousel.buttons[carousel.panel.index].type = 'phone_number'; vm.tempNode.button.data = ''; vm.tempNode.button.filter = ''">Phone</li>
								</ul>
								<div ng-show="carousel.buttons[carousel.panel.index].type == 'show_block'">
									<ul class="action-list marginBottom-s marginTop-s">
										<li class="action-item position-relative marginRight-xs display-inline-block bg-grey-l cursor-pointer marginBottom-s borderRadius-xs padding-xs borderStyle-solid borderColor-grey borderWidth-1"
												ng-repeat="block in carousel.buttons[carousel.panel.index].blocks">
												<div class="delete-item" ng-click="carousel.buttons[carousel.panel.index].blocks.splice($index,1); vm.saveNode(node)">
													<i class="ion-trash-b"></i>
												</div>
												{{ block.block_name }}
										</li>
									</ul>
								</div>
								<div class="textAlign-center">
									<div ng-show="carousel.buttons[carousel.panel.index].type == 'show_block'">
										<input ng-keyup="vm.tempNode.showSuggest = true" ng-model="vm.tempNode.button.filter" class="centered width-100 marginTop-s bg-foreground paddingLeftRight-s paddingTopBottom-xs borderWidth-1 borderStyle-solid borderColor-grey borderRadius-xs" type="text" placeholder="Enter name">
									</div>
									<div ng-show="carousel.buttons[carousel.panel.index].type == 'web_url'">
										<input ng-model="carousel.buttons[carousel.panel.index].url" class="centered width-100 marginTop-s bg-foreground paddingLeftRight-s paddingTopBottom-xs borderWidth-1 borderStyle-solid borderColor-grey borderRadius-xs" type="text" placeholder="URL">
									</div>
									<div ng-show="carousel.buttons[carousel.panel.index].type == 'phone_number'">
										<input ng-model="carousel.buttons[carousel.panel.index].phone_number" class="centered width-100 marginTop-s bg-foreground paddingLeftRight-s paddingTopBottom-xs borderWidth-1 borderStyle-solid borderColor-grey borderRadius-xs" type="text" placeholder="Phone">
									</div>
									<ul ng-show="vm.tempNode.showSuggest && carousel.buttons[carousel.panel.index].type == 'show_block'" class="textAlign-left position-absoltue bg-white width-100 suggest-blocks borderTopWidth-1 borderLeftWidth-1 borderRightWidth-1 borderStyle-solid boxShadow-card padding-s" style="border-color: #d8d8d8">
										<div class="fontSize-xxs fontWeight-5 padding-xs marginBottom-s ">
												<li class="cursor-pointer" ng-click="vm.tempNode.showSuggest = false;vm.tempNode.button.filter = ''" style="text-align: right">X</li>		
										</div>
										<div class="fontSize-xxs fontWeight-5 padding-xs marginBottom-s">
											Buildin Blocks							
											<li ng-click="carousel.buttons[carousel.panel.index].blocks.push({block_id: block.block_id, block_name: block.block_name});
																		vm.tempNode.showSuggest= false;vm.tempNode.button.filter = ''"
													ng-repeat="block in vm.filterButton(vm.bot.blocks, vm.tempNode.button.filter)"
													ng-if="block.block_id === '0' || block.block_id === '1'"
													class="fontSize-s fontWeight-3 bg-white padding-xs cursor-pointer bg-grey--hover">
												{{block.block_name}}
											</li>
										</div>
										<div class="fontSize-xxs fontWeight-5 padding-xs">
											Blocks
											<li ng-click="carousel.buttons[carousel.panel.index].blocks.push({block_id: block.block_id, block_name: block.block_name});
																		vm.tempNode.showSuggest= false;vm.tempNode.button.filter = ''"
													ng-repeat="block in vm.filterButton(vm.bot.blocks, vm.tempNode.button.filter)"
													ng-if="block.block_id !== '0' && block.block_id !== '1'"
													class="fontSize-s fontWeight-3 bg-white padding-xs cursor-pointer bg-grey--hover" >
												{{block.block_name}}
											</li>
										</div>
									</ul>
								</div>
								<div ng-show="carousel.buttons[carousel.panel.index].type == 'web_url'">
									<p>in-app browser size:</p> 
									<select ng-model="carousel.buttons[carousel.panel.index].webview_height_ratio">
										<option value="full">full</option>
										<option value="tall">tall</option>
										<option value="compact">compact</option>
									</select>
								</div>
								<div class="textAlign-right marginTop-s">
									<!--<div ng-click="vm.closePanel(carousel)" class="button button-grey display-inline-block borderRadius-xs marginRight-xs" style="width: 80px; padding: 5px 10px;">
										Cancel
									</div>-->
									<div ng-click="vm.editNodeCarouselButton(carousel,node,carousel.panel.index)" class="button button-primary display-inline-block borderRadius-xs" style="width: 80px; padding: 5px 10px;">
										Edit
									</div>
								</div>
							</div>
						</div>
						<!-- end edit pop up-->
				</div>
				<div ng-show="!carousel.buttons || carousel.buttons.length < 3" ng-click="blocks = [];vm.showPanel(carousel);vm.tempNode.button.title = ''" class="button -add position-relative" style="border-bottom-left-radius: 20px; border-bottom-right-radius: 20px;">
					<div class="marginRight-s" style="color:#c1c1c1;">
						<i class="ion-plus-round"></i>
					</div>
					<div>
						Add Button
					</div>
				</div>
				<!--pop up set button-->
				<div ng-show="carousel.panel.show" class="animated zoomIn panel-add-button bg-white position-absolute textAlign-center"
						style="border: 1px solid #dddddd;
										border-radius: 5px;
										width: 120%;
										left: -10%;
										z-index: 10;">
					<div class="padding-s borderBottomWidth-1 borderStyle-solid borderColor-grey">
						<input ng-model="vm.tempNode.button.title" class="centered textAlign-center bg-foreground paddingLeftRight-s paddingTopBottom-xs borderWidth-1 borderStyle-solid borderColor-grey borderRadius-xs" type="text" placeholder="Enter button name" maxlength="20">
					</div>
					<div class="padding-s textAlign-left" style="white-space: normal;">
						<ul class="node_type">
							<li class="display-inline-block link marginRight-xs" ng-class="{'link-primary': carousel.panel.type == 'show_block', 'link-grey': carousel.panel.type != 'show_block'}" ng-click="carousel.panel.type = 'show_block'">Block</li>
							<li class="display-inline-block link " ng-class="{'link-primary': carousel.panel.type == 'web_url', 'link-grey': carousel.panel.type != 'web_url'}" ng-click="carousel.panel.type = 'web_url'; vm.tempNode.button.data = ''; vm.tempNode.button.filter = ''">URL</li>
							<li class="display-inline-block link " ng-class="{'link-primary': carousel.panel.type == 'phone_number', 'link-grey': carousel.panel.type != 'phone_number'}" ng-click="carousel.panel.type = 'phone_number'; vm.tempNode.button.data = ''; vm.tempNode.button.filter = ''">Phone</li>
						</ul>
						<div ng-show="carousel.panel.type == 'show_block'">
							<ul class="action-list marginBottom-s marginTop-s">
								<li class="action-item position-relative marginRight-xs display-inline-block bg-grey-l cursor-pointer marginBottom-s borderRadius-xs padding-xs borderStyle-solid borderColor-grey borderWidth-1"
										ng-repeat="block in blocks">
										<div class="delete-item" ng-click="blocks.splice($index,1); vm.saveNode(node)">
											<i class="ion-trash-b"></i>
										</div>
										{{ block.block_name }}
								</li>
							</ul>
						</div>
						<div class="textAlign-center" ng-show="carousel.panel.type == 'show_block'">
							<input ng-keyup="vm.tempNode.showSuggest = true" ng-model="vm.tempNode.button.filter" class="centered width-100 marginTop-s bg-foreground paddingLeftRight-s paddingTopBottom-xs borderWidth-1 borderStyle-solid borderColor-grey borderRadius-xs" type="text" placeholder="Enter name">
							<ul ng-show="vm.tempNode.showSuggest && carousel.panel.type == 'show_block'" class="textAlign-left position-absoltue bg-white width-100 suggest-blocks borderTopWidth-1 borderLeftWidth-1 borderRightWidth-1 borderStyle-solid boxShadow-card padding-s" style="border-color: #d8d8d8">
								<div class="fontSize-xxs fontWeight-5 padding-xs marginBottom-s ">
										<li class="cursor-pointer" ng-click="vm.tempNode.showSuggest = false;vm.tempNode.button.filter = ''" style="text-align: right">X</li>		
								</div>
								<div class="fontSize-xxs fontWeight-5 padding-xs marginBottom-s">
									Buildin Blocks							
									<li ng-click="blocks.push({block_id: block.block_id, block_name: block.block_name});
																vm.tempNode.showSuggest= false;vm.tempNode.button.filter = ''"
											ng-repeat="block in vm.filterButton(vm.bot.blocks, vm.tempNode.button.filter)"
											ng-if="block.block_id === '0' || block.block_id === '1'"
											class="fontSize-s fontWeight-3 bg-white padding-xs cursor-pointer bg-grey--hover">
										{{block.block_name}}
									</li>
								</div>
								<div class="fontSize-xxs fontWeight-5 padding-xs">
									Blocks
									<li ng-click="blocks.push({block_id: block.block_id, block_name: block.block_name});
																vm.tempNode.showSuggest= false;vm.tempNode.button.filter = ''"
											ng-repeat="block in vm.filterButton(vm.bot.blocks, vm.tempNode.button.filter)"
											ng-if="block.block_id !== '0' && block.block_id !== '1'"
											class="fontSize-s fontWeight-3 bg-white padding-xs cursor-pointer bg-grey--hover" >
										{{block.block_name}}
									</li>
								</div>
							</ul>
						</div>
						<div ng-show="carousel.panel.type == 'web_url'">
							<input ng-model="vm.tempNode.button.filter" class="centered width-100 marginTop-s bg-foreground paddingLeftRight-s paddingTopBottom-xs borderWidth-1 borderStyle-solid borderColor-grey borderRadius-xs" type="text" placeholder="URL">
							<p>in-app browser size:</p> 
							<select ng-model="webview_height_ratio">
								<option value="full">full</option>
								<option value="tall">tall</option>
								<option value="compact">compact</option>
							</select>
						</div>
						<div ng-show="carousel.panel.type == 'phone_number'">
							<input ng-model="vm.tempNode.button.filter" class="centered width-100 marginTop-s bg-foreground paddingLeftRight-s paddingTopBottom-xs borderWidth-1 borderStyle-solid borderColor-grey borderRadius-xs" type="text" placeholder="Phone">
						</div>
						<div class="textAlign-right marginTop-s">
							<div ng-click="vm.closePanel(carousel)" class="button button-grey display-inline-block borderRadius-xs marginRight-xs" style="width: 80px; padding: 5px 10px;">
								Cancel
							</div>
							<div ng-click="vm.addNodeCarouselButton(carousel, vm.tempNode.button, blocks, node, webview_height_ratio)" class="button button-primary display-inline-block borderRadius-xs" style="width: 80px; padding: 5px 10px;">
								Save
							</div>
						</div>
					</div>
				</div>
				<!--end pop up set button-->
			</div>
		</div>
		<div ng-click="vm.addCarousel(node)" class="card -gallery -gallery-add cursor-pointer boxShadow-card--hover">
			<div class="add-icon-carousel">
				<i class="ion-plus-round fontSize-l"></i>
			</div>
		</div>
	</div>
</div>