<div ng-if="node.node_type == 'math'" class="card -default">
		<div  id="delete-card" class="delete" ng-click="vm.deleteNode(node, $index)">
			<i class="ion-trash-b"></i>
		</div>
        <div class="padding-xm">
            <div class="fontSize-xm fontFamily-primary">
                Calculate Value
            </div>
            <div class="fontSize-xs">
                This card use to calculate value.
            </div>
            <div class="row marginTop-xm position-relative" >
                <div class="col-xs-5">
                    <div class="fontSize-xs textTransform-uppercase">
                        first value <span class="c-danger">*</span>
                    </div>
                    <div class="input input-full textAlign-left">
                        <input type="text" ng-blur="vm.saveNode(node)" ng-model="node.first_value">
                    </div>
                </div>
                <div class="col-xs-2">
                    <div class="fontSize-xs textTransform-uppercase">
                        operation <span class="c-danger">*</span>
                    </div>
                    <div class="select select-full select-m textTransform-uppercase">
                        <select ng-blur="vm.saveNode(node)" ng-model="node.operation">
                            <option value="+">+</option>
                            <option value="-">-</option>
                            <option value="x">x</option>
                            <option value="/">/</option>
                        </select>
                    </div>
                </div>
                <div class="col-xs-5">
                    <div class="fontSize-xs textTransform-uppercase">
                        second value <span class="c-danger">*</span>
                    </div>
                    <div class="input input-full textAlign-left">
                        <textarea
                        style="
                        width: 100%;
                        height: 34px;
                        padding: 5px;
                        font-size: 16px;
                        border-color: #d8d8d8;
                        border-radius: 5px;"
                        ng-blur="vm.saveNode(node)" ng-model="node.second_value">
                        </textarea>
                    </div>
                </div>
                <div class="col-xs-5">
                    <div class="fontSize-xs textTransform-uppercase">
                        result attr <span class="c-danger">*</span>
                    </div>
                    <div class="input input-full textAlign-left">
                        <textarea
                        style="
                        width: 100%;
                        height: 34px;
                        padding: 5px;
                        font-size: 16px;
                        border-color: #d8d8d8;
                        border-radius: 5px;"
                        ng-blur="vm.genAttrBracket(node,'math'); vm.saveNode(node)" ng-model="node.result_attr">
                        </textarea>
                    </div>
                </div>
            </div>
    
        </div>
</div>