<div ng-if="node.node_type == 'set_attr'" class="card -default">
	<div id="delete-card" class="delete" ng-click="vm.deleteNode(node, $index)">
		<i class="ion-trash-b"></i>
	</div>
	<div class="padding-xm">
		<div class="fontSize-xm fontFamily-primary">
			Set Attribute
		</div>
		<div class="fontSize-xs">
			Attribute is use to make a condition or use as a variable. Start with '{{' for attribute.
		</div>
		<div class="row marginTop-xm position-relative" ng-repeat="attr in node.todo">
			<div id="delete-card" class="delete" ng-show="$index != 0" ng-click="node.todo.splice($index,1); vm.saveNode(node)">
				<i class="ion-trash-b"></i>
			</div>
			<div class="col-xs-6">
				<div class="fontSize-xs textTransform-uppercase">
					Attribute <span class="c-danger">*</span>
				</div>
				<div class="input input-full textAlign-left position-relative">
				<textarea
					style="
					width: 100%;
					height: 34px;
					padding: 5px;
					font-size: 16px;
					border-color: #d8d8d8;
					border-radius: 5px;"
					ng-blur="vm.genAttrBracket(attr,'attr'); vm.saveNode(node)" ng-model="attr.attr_name">
				</textarea>
				</div>
			</div>
			<div class="col-xs-6">
				<div class="fontSize-xs textTransform-uppercase">
					Value <span class="c-danger">*</span>
				</div>
				<div class="input input-full textAlign-left">
					<input type="text" ng-blur="vm.saveNode(node)" ng-model="attr.attr_value">
				</div>
			</div>
		</div>

	</div>
	<div class="padding-xm borderTopWidth-1 borderStyle-solid borderColor-grey">
		<div ng-click="node.todo.push({attr_name: '', attr_value:''})" class="marginTop-xs button button-primary display-inline-block paddingLeftRight-s">
			<i class="ion-plus"></i> Add Attribute
		</div>
	</div>
</div>
