<div ng-if="node.node_type == 'timestamp'" class="cards">
	<div class="card -typing bg-white padding-xm">
		<div  id="delete-card" class="delete" ng-click="vm.deleteNode(node, $index)">
			<i class="ion-trash-b"></i>
		</div>
		<div class="fontFamily-primary fontSize-xm">
			TimeStamp
		</div>
		<div class="fontSize-xs">
			Keep timestamp in variable. Start with '{{'
		</div>
		<div class="input input-full textAlign-left position-relative">
			<div class="fontSize-xs textTransform-uppercase" style="margin-top: 20px;">
				ATTRIBUTE <span class="c-danger">*</span>
			</div>
			<textarea
			style="
			width: 100%;
			height: 34px;
			padding: 5px;
			font-size: 16px;
			border-color: #d8d8d8;
			border-radius: 5px;"
			ng-blur="vm.saveNode(node)" ng-model="node.attr_name">
		</textarea>
		</div>
	</div>
</div>
