<div ng-if="node.node_type == 'gettime'" class="cards">
        <div class="card -typing bg-white padding-xm">
            <div  id="delete-card" class="delete" ng-click="vm.deleteNode(node, $index)">
                <i class="ion-trash-b"></i>
            </div>
            <div class="fontFamily-primary fontSize-xm">
               Get Time
            </div>
            <div class="fontFamily-primary marginTop-s fontSize-xs fontWeight-3" style="white-space: initial;">
              After this card will get 3 Attribute.<br>
              1. gettime_date 2. gettime_hour 3. gettime_min
            </div>
        </div>
    </div>