
<style>
	.card.-input {
		background-color: #ffffff;
    width: 100%;
		white-space: normal;
		min-width: 700px;
	}
	.sa-fakeArea {
		width: 100% !important;
	}
</style>
<div ng-if="node.node_type == 'input'" class="card -input">
	<div  id="delete-card" class="delete" ng-click="vm.deleteNode(node, $index)">
		<i class="ion-trash-b"></i>
	</div>
	<div class="padding-xm">
		<div class="fontSize-xm fontFamily-primary">
			Set your question
		</div>
		<div class="fontSize-xs">
			This question will ask the user then save their input in the attribute you specified
		</div>
		<div class="row marginTop-xm position-relative" >
			<div class="col-xs-5">
				<div class="fontSize-xs textTransform-uppercase">
					Question <span class="c-danger">*</span>
				</div>
				<div class="input input-full textAlign-left">
					<input type="text" ng-blur="vm.saveNode(node)" ng-model="node.nodeResponse.response">
				</div>
			</div>
			<div class="col-xs-2">
				<div class="fontSize-xs textTransform-uppercase">
					type <span class="c-danger">*</span>
				</div>
				<div class="select select-full select-m textTransform-uppercase">
					<select ng-blur="vm.saveNode(node)" ng-model="node.userResponse.type">
						<option value="text">text</option>
						<option value="email">email</option>
						<option value="number">number</option>
						<option value="phone">phone</option>
					</select>
				</div>
			</div>
			<div class="col-xs-5">
				<div class="fontSize-xs textTransform-uppercase">
					Attribute <span class="c-danger">*</span>
				</div>
				<div class="input input-full textAlign-left">
					<textarea
					style="
					width: 100%;
					height: 34px;
					padding: 5px;
					font-size: 16px;
					border-color: #d8d8d8;
					border-radius: 5px;"
					ng-blur="vm.genAttrBracket(node.userResponse,'input'); vm.saveNode(node)" ng-model="node.userResponse.save_to_variable">
					</textarea>
				</div>
			</div>
		</div>

	</div>
	<div class="padding-xm borderTopWidth-1 borderStyle-solid borderColor-grey">
		<div class="row">
			<div class="col-xs-12">
				<div class="fontSize-xs textTransform-uppercase">
					Error message 
				</div>
				<div class="input input-full textAlign-left">
					<input type="text" ng-blur="vm.saveNode(node)" ng-model="node.nodeErrorResponse.response">
				</div>
			</div>
		</div>
	</div>
</div>