<style>
	.card.-audio {
		max-width: 600px;
	}
</style>
<div ng-if="node.nodeResponse.type == 'audio'" class="card -default -audio">
	<div id="delete-card" class="delete" ng-click="vm.deleteNode(node, $index)">
		<i class="ion-trash-b"></i>
	</div>
	<div class="padding-xm">
		<div class="fontSize-xm fontFamily-primary">
			Audio
		</div>
		<div class="fontSize-xs">
				Allows to send an audio file into chat. Supported formats: mp3, wav, ogg. Maximum file size: 25MB. If you use Dropbox, please replace "www" at the beginning of the audio file URL with "dl".
				Example: https://dl.dropbox.com/s/sample.mp3				
		</div>
		<div class="row marginTop-xm position-relative ng-scope">
			<div class="col-xs-12 input input-full textAlign-left">
				<input type="url" ng-model="node.nodeResponse.response" ng-blur="vm.saveNode(node)" placeholder="Enter audio file URL">					
			</div>
		</div>
	</div>
</div>