<div ng-if="node.node_type == 'livechat'" class="cards">
	<div class="card -typing bg-white padding-xm">
		<div  id="delete-card" class="delete" ng-click="vm.deleteNode(node, $index)">
			<i class="ion-trash-b"></i>
		</div>
		<div class="fontFamily-primary fontSize-xm">
			Live Chat
		</div>
		<div class="fontFamily-primary marginTop-s fontSize-xs fontWeight-3 input">
			Chat timeout <input class="textAlign-center" min="1" maxlength="3" type="number" placeholder="seconds" ng-model="node.sleepTime" ng-change="vm.saveNode(node)" style="width: 60px"> minutes
		</div>
	</div>
</div>