<div ng-if="node.nodeResponse.type == 'file'" class="card -default">
	<div id="delete-card" class="delete" ng-click="vm.deleteNode(node, $index)">
		<i class="ion-trash-b"></i>
	</div>
	<div class="padding-xm">
		<div class="fontSize-xm fontFamily-primary">
			File
		</div>
		<div class="fontSize-xs">
			Allows to send a file into chat. Supported format: anything. If you use Dropbox, please replace
			"www" at the beginning of the video file URL with "dl".
		</div>
		<div class="fontSize-xs">
			Example: https://dl.dropbox.com/s/sample.pdf
		</div>
		<div class="row marginTop-xm position-relative ng-scope">
			<div class="col-xs-12 input input-full textAlign-left">
				<input type="url" ng-model="node.nodeResponse.response" ng-blur="vm.saveNode(node)" placeholder="Enter file URL">
			</div>
		</div>
	</div>
</div>