<div ng-if="node.nodeResponse.type == 'image'" class="card -image">
	<div  id="delete-card" class="delete" ng-click="vm.deleteNode(node, $index)">
		<i class="ion-trash-b"></i>
	</div>
	<div ng-if="node.nodeResponse.response" class="image position-relative" style="background-position: center; background-size: cover; background-image: url('{{node.nodeResponse.response}}')">
		<i ng-show="node.nodeResponse.response === true" class="ion-load-c fontSize-l rotating"></i>
	</div>
	<div ng-if="!node.nodeResponse.response" class="image position-relative">
		<input type="file" ngf-accept="'image/*'" ngf-select="vm.upload($file, node)" style="
			width: 100%;
			height: 100%;
			position: absolute;
			opacity: 0;
			cursor: pointer;" />
		<i class="ion-camera fontSize-l"></i>
		Upload Image
	</div>
</div>