<style>
	.card.-vdo {
		max-width: 600px;
	}
</style>
<div ng-if="node.nodeResponse.type == 'video'" class="card -default -vdo">
	<div id="delete-card" class="delete" ng-click="vm.deleteNode(node, $index)">
		<i class="ion-trash-b"></i>
	</div>
	<div class="padding-xm">
		<div class="fontSize-xm fontFamily-primary">
			Video
		</div>
		<div class="fontSize-xs">
			Allows to send a video file into chat. Supported format: mp4. Maximum file size: 25 MB. If you use Dropbox, please replace
			"www" at the beginning of the video file URL with "dl".
		</div>
		<div class="fontSize-xs">
			Example: https://dl.dropbox.com/s/sample.mov
		</div>
		<div class="row marginTop-xm position-relative ng-scope">
			<div class="col-xs-12 input input-full textAlign-left">
				<input type="url" ng-model="node.nodeResponse.response" ng-blur="vm.saveNode(node)" placeholder="Enter video file URL">
			</div>
		</div>
	</div>
</div>